<div class="w-full px-8 pt-2 pb-8">
  <h1 class="hidden lg:block mb-8 mt-4 text-7xl font-semibold w-full">{{ 'USAGE_SPECS._usage_spec' | translate }}</h1>
  <div class="flex flex-cols mr-2 ml-2 lg:hidden">
    <h1 class="mb-8 mt-4 text-7xl font-semibold w-full">{{ 'USAGE_SPECS._usage_spec' | translate }}</h1>
    <div class="flex align-middle content-center items-center"> <button id="dropdown-nav"
        data-dropdown-toggle="dropdown-nav-content"
        class="text-black h-fit w-fit justify-between bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-100 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center "
        type="button"> <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg> {{ 'USAGE_SPECS._usage_spec' | translate }} </button> </div>
  </div> <!-- Dropdown menu -->
  <div id="dropdown-nav-content" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg w-44">
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdown-nav">
      <li> <a (click)="goToUsageSpec()" class="cursor-pointer block px-4 py-2 hover:bg-gray-100">{{ 'USAGE_SPECS._list'
          | translate }}</a> </li>
    </ul>
  </div>
  <div class="w-full grid lg:grid-cols-20/80">
    <div class="hidden lg:block">
      <div class="sticky top-[340px] w-full h-fit text-sm font-medium text-gray-900 rounded-lg bg-black p-2.5"> <button
          (click)="goToUsageSpec()" id="catalogs-button" aria-current="true"
          class="block w-full px-4 py-2 text-white bg-primary-100 border-b border-gray-200 rounded-t-lg cursor-pointer hover:bg-gray-100 hover:text-purple-700">
          {{ 'USAGE_SPECS._list' | translate }} </button> </div>
    </div> @if(show_usage_specs){ <usage-list></usage-list> } @if(show_create_usage){
    <create-usage-spec></create-usage-spec> } @if(show_update_usage){ <update-usage-spec
      [usageSpec]="usageSpecToUpdate"></update-usage-spec> }
  </div>
</div>
