
<div  class="flex flex-col gap-6">
  <h2 class="text-3xl font-semibold text-primary-100">{{ 'UPDATE_CATALOG._update' | translate }}</h2>
  <div class="bg-white/60 p-4 rounded-lg">
    <div class="overflow-x-auto">
        <ol class="flex items-start w-max md:w-full text-sm font-medium text-center mt-4 md:mt-8 border-b border-gray-0 pb-4 md:pb-6">
            @for (step of stepNavigation; track step.id; let i = $index) {
                <li
                  (click)="handleStepClick(step)"
                  class="relative flex-1 flex flex-row md:flex-col md:items-center gap-2 mr-9 md:mr-0 min-w-[140px]"
                  [class.text-primary-100]="isCurrentStep(step.id)"
                  [class.cursor-not-allowed]="isStepDisabled(step)"
                  [class.opacity-50]="isStepDisabled(step) && !isCurrentStep(step.id)">
                    <div class="md:relative flex items-center justify-center w-full">
                        <span class="flex items-center justify-center cursor-pointer w-4 h-4 md:w-10 md:h-10 border text-[10px] md:text-base text-white shrink-0 rounded-full"
                              [class.bg-primary-100]="isCurrentStep(step.id)"
                              [class.text-white]="isCurrentStep(step.id)"
                              [class.cursor-not-allowed]="isStepDisabled(step)"
                              [class.opacity-50]="isStepDisabled(step) && !isCurrentStep(step.id)"
                              [ngClass]="{ 'bg-green border-green': isStepComplete(i), 'border-primary-100 bg-primary-100': !isStepComplete(i) }">
                            {{ i + 1 }}
                        </span>
                        @if(i < stepNavigation.length - 1){
                            <span class="absolute -right-7 md:right-[-25px] w-5 md:w-[50px] h-px md:ml-4 bg-black"></span>
                        }
                    </div>
                    <span
                      class="text-sm whitespace-nowrap cursor-pointer"
                      [class.cursor-not-allowed]="isStepDisabled(step)"
                      [class.opacity-50]="isStepDisabled(step) && !isCurrentStep(step.id)">
                        {{ step.labelKey | translate }}
                    </span>
                </li>
            }
        </ol>
    </div>
    <hr class="h-px bg-gray-0 border-0">
    <div>
            @if(showGeneral){
                <h2 class="text-3xl font-semibold text-primary-100  ml-4">{{ 'UPDATE_CATALOG._general' | translate }}</h2>
                    <form class=" gap-2" [formGroup]="generalForm">
                        <label for="prod-name" class="font-semibold text-lg ">{{ 'UPDATE_CATALOG._name' | translate }}</label>
                        <input formControlName="name" type="text" id="prod-name" maxLength="100"
                        [ngClass]="generalForm.get('name')?.invalid && generalForm.value.name!='' ? 'border-red-600' : (generalForm.value.name ? 'border-primary-100' : 'border-gray-300')"
                        class="mb-2 bg-white  border border-gray-0   text-gray-100 text-sm rounded-lg focus:ring-primary-100 focus:border-primary-100 block w-full p-2.5 leading-[1.75]" />

                        <label class="font-semibold text-lg ">{{ 'UPDATE_CATALOG._status' | translate }}</label>
                        <div class="mb-2 w-full">

                            <ol class="flex items-center gap-2 w-full text-sm font-medium text-center text-primary-100">
                                @if(catStatus=='Active'){
                                    <li (click)="setCatStatus('Active')"
                                    class="cursor-pointer flex w-fit md:w-full items-center text-purple-500 after:w-full after:h-1 after:border-b after:border-gray-700  after:border-1 after:mx-2 md:after:mx-6 xl:after:mx-10">
                                        <span class="flex items-center">
                                            <svg class="w-4 h-4 text-purple-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M8.737 8.737a21.49 21.49 0 0 1 3.308-2.724m0 0c3.063-2.026 5.99-2.641 7.331-1.3 1.827 1.828.026 6.591-4.023 10.64-4.049 4.049-8.812 5.85-10.64 4.023-1.33-1.33-.736-4.218 1.249-7.253m6.083-6.11c-3.063-2.026-5.99-2.641-7.331-1.3-1.827 1.828-.026 6.591 4.023 10.64m3.308-9.34a21.497 21.497 0 0 1 3.308 2.724m2.775 3.386c1.985 3.035 2.579 5.923 1.248 7.253-1.336 1.337-4.245.732-7.295-1.275M14 12a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                                            </svg>
                                            {{ 'UPDATE_CATALOG._active' | translate }}
                                        </span>
                                    </li>
                                }@else{
                                    <li (click)="setCatStatus('Active')"
                                    class="cursor-pointer flex w-fit md:w-full items-center after:w-full after:h-1 after:border-b after:border-gray-700  after:border-1 after:mx-2 md:after:mx-6 xl:after:mx-10">
                                        <span class="flex items-center">
                                            {{ 'UPDATE_CATALOG._active' | translate }}
                                        </span>
                                    </li>
                                }
                                @if(catStatus=='Launched'){
                                    <li (click)="setCatStatus('Launched')"
                                    class="cursor-pointer flex w-fit md:w-full items-center text-green-700 after:w-full after:h-1 after:border-b after:border-gray-700  after:border-1 after:mx-2 md:after:mx-6 xl:after:mx-10">
                                        <span class="flex items-center">
                                            <svg class="w-4 h-4 text-green-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M8.737 8.737a21.49 21.49 0 0 1 3.308-2.724m0 0c3.063-2.026 5.99-2.641 7.331-1.3 1.827 1.828.026 6.591-4.023 10.64-4.049 4.049-8.812 5.85-10.64 4.023-1.33-1.33-.736-4.218 1.249-7.253m6.083-6.11c-3.063-2.026-5.99-2.641-7.331-1.3-1.827 1.828-.026 6.591 4.023 10.64m3.308-9.34a21.497 21.497 0 0 1 3.308 2.724m2.775 3.386c1.985 3.035 2.579 5.923 1.248 7.253-1.336 1.337-4.245.732-7.295-1.275M14 12a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                                            </svg>
                                            {{ 'UPDATE_CATALOG._launched' | translate }}
                                        </span>
                                    </li>
                                }@else{
                                    <li (click)="setCatStatus('Launched')"
                                    class="cursor-pointer flex w-fit md:w-full items-center after:w-full after:h-1 after:border-b after:border-gray-700  after:border-1 after:mx-2 md:after:mx-6 xl:after:mx-10">
                                        <span class="flex items-center">
                                            {{ 'UPDATE_CATALOG._launched' | translate }}
                                        </span>
                                    </li>
                                }
                                @if(catStatus=='Retired'){
                                    <li (click)="setCatStatus('Retired')"
                                    class="cursor-pointer flex w-fit md:w-full items-center text-yellow-500 after:w-full after:h-1 after:border-b after:border-gray-700  after:border-1 after:mx-2 md:after:mx-6 xl:after:mx-10">
                                        <span class="flex items-center">
                                            <svg class="w-4 h-4 text-yellow-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M8.737 8.737a21.49 21.49 0 0 1 3.308-2.724m0 0c3.063-2.026 5.99-2.641 7.331-1.3 1.827 1.828.026 6.591-4.023 10.64-4.049 4.049-8.812 5.85-10.64 4.023-1.33-1.33-.736-4.218 1.249-7.253m6.083-6.11c-3.063-2.026-5.99-2.641-7.331-1.3-1.827 1.828-.026 6.591 4.023 10.64m3.308-9.34a21.497 21.497 0 0 1 3.308 2.724m2.775 3.386c1.985 3.035 2.579 5.923 1.248 7.253-1.336 1.337-4.245.732-7.295-1.275M14 12a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                                            </svg>
                                            {{ 'UPDATE_CATALOG._retired' | translate }}
                                        </span>
                                    </li>
                                }@else{
                                    <li (click)="setCatStatus('Retired')"
                                    class="cursor-pointer flex w-fit md:w-full items-center after:w-full after:h-1 after:border-b after:border-gray-700  after:border-1 after:mx-2 md:after:mx-6 xl:after:mx-10">
                                        <span class="flex items-center">
                                            {{ 'UPDATE_CATALOG._retired' | translate }}
                                        </span>
                                    </li>
                                }
                                @if(catStatus=='Obsolete'){
                                    <li (click)="setCatStatus('Obsolete')" class="cursor-pointer flex items-center">
                                        <span class="flex items-center text-red-800">
                                            <svg class="w-4 h-4 text-red-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M8.737 8.737a21.49 21.49 0 0 1 3.308-2.724m0 0c3.063-2.026 5.99-2.641 7.331-1.3 1.827 1.828.026 6.591-4.023 10.64-4.049 4.049-8.812 5.85-10.64 4.023-1.33-1.33-.736-4.218 1.249-7.253m6.083-6.11c-3.063-2.026-5.99-2.641-7.331-1.3-1.827 1.828-.026 6.591 4.023 10.64m3.308-9.34a21.497 21.497 0 0 1 3.308 2.724m2.775 3.386c1.985 3.035 2.579 5.923 1.248 7.253-1.336 1.337-4.245.732-7.295-1.275M14 12a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                                            </svg>
                                            {{ 'UPDATE_CATALOG._obsolete' | translate }}
                                        </span>
                                    </li>
                                }@else{
                                    <li (click)="setCatStatus('Obsolete')" class="cursor-pointer flex items-center">
                                        <span class="flex items-center">
                                            {{ 'UPDATE_CATALOG._obsolete' | translate }}
                                        </span>
                                    </li>
                                }
                            </ol>

                        </div>

                        <label for="prod-name" class="font-semibold text-lg ">{{ 'UPDATE_CATALOG._description' | translate }}</label>
                        <app-markdown-textarea formControlName="description"></app-markdown-textarea>

                    </form>
                    <div class="flex w-full justify-items-end justify-end">
                        <button type="button" (click)="showFinish();generalDone=true;" [disabled]="!generalForm.valid" [ngClass]="!generalForm.valid ? 'opacity-50' : 'hover:bg-primary-50'" class="flex gap-2 text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-primary-100 font-medium rounded-full text-sm px-5 py-2.5 text-center items-center">
                            {{ 'UPDATE_CATALOG._next' | translate }}
                            <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27536 5.3211L0.216483 9.37972C0.0786384 9.51773 0.00805503 9.6912 0.00473343 9.90013C0.0015779 10.1089 0.0721612 10.2855 0.216483 10.43C0.360971 10.5743 0.536018 10.6465 0.741623 10.6465C0.947228 10.6465 1.12227 10.5743 1.26676 10.43L5.74515 5.95161C5.83832 5.85828 5.90409 5.75988 5.94245 5.65641C5.98082 5.55294 6 5.44117 6 5.3211C6 5.20102 5.98082 5.08925 5.94245 4.98579C5.90409 4.88232 5.83832 4.78392 5.74515 4.69058L1.26676 0.212192C1.12875 0.0743467 0.955285 0.00376337 0.746358 0.000442635C0.537597 -0.00271311 0.360973 0.0678692 0.216485 0.212192C0.0721629 0.35668 1.76852e-06 0.531727 1.73257e-06 0.737332C1.69662e-06 0.942937 0.0721628 1.11798 0.216485 1.26247L4.27536 5.3211Z" fill="white"/>
                            </svg>
                        </button>
                    </div>
            }

            @if(showSummary){
                <h2 class="text-3xl font-semibold text-primary-100  ml-4">{{ 'UPDATE_CATALOG._finish' | translate }}</h2>
                <div class="">
                    <div class="flex flex-col gap-2">
                        <label class="font-semibold text-lg ">{{ 'UPDATE_CATALOG._name' | translate }}</label>
                        <label class="mb-2 bg-white text-wrap break-all  border border-gray-300   text-gray-900 text-sm rounded-lg focus:ring-primary-100 focus:border-primary-100 block w-full p-2.5">
                            {{generalForm.value.name}}
                        </label>
                    </div>

                    <div class="mb-4 flex flex-col gap-2">
                        <label class="font-semibold text-lg mr-4 ">{{ 'UPDATE_CATALOG._status' | translate }}</label>
                        @if(catalogToUpdate?.lifecycleStatus == 'In design'){
                            <div class="w-fit flex gap-1 items-center bg-secondary-300/30 text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-secondary-300"></span>{{ 'ADMIN._in_design' | translate }}</div>
                        } @else if(catalogToUpdate?.lifecycleStatus == 'Active'){
                            <div class="w-fit flex gap-1 items-center bg-primary-50/30 text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-primary-50"></span>{{ 'ADMIN._active' | translate }}</div>
                        } @else if(catalogToUpdate?.lifecycleStatus == 'Launched') {
                            <div class="w-fit flex gap-1 items-center bg-green/30 text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-green"></span>{{ 'ADMIN._launched' | translate }}</div>
                        } @else if(catalogToUpdate?.lifecycleStatus == 'Retired') {
                            <div class="w-fit flex gap-1 items-center bg-gray-50/30 text-gray text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-gray-50"></span>{{ 'ADMIN._retired' | translate }}</div>
                        } @else if(catalogToUpdate?.lifecycleStatus == 'Obsolete') {
                            <div class="w-fit flex gap-1 items-center bg-black/30 text-white text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-white"></span>{{ 'ADMIN._obsolete' | translate }}</div>
                        }
                    </div>

                    @if(catalogToUpdate?.description !=''){
                        <label class="font-semibold text-lg ">{{ 'UPDATE_CATALOG._description' | translate }}</label>
                        <div class="px-4 py-2 bg-white rounded-lg p-4 mb-4 bg-gray-50  border border-gray-300   text-gray-900">
                            <markdown class="bg-gray-50 text-wrap break-all   text-gray-900" [data]="catalogToUpdate?.description"></markdown>
                        </div>
                    }


                    <div class="flex w-full justify-items-end justify-end ml-4">
                        <button type="button" (click)="createCatalog();" class="flex gap-2 text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-primary-100 font-medium rounded-full text-sm px-5 py-2.5 text-center items-center">
                            {{ 'UPDATE_CATALOG._update' | translate }}
                            <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27536 5.3211L0.216483 9.37972C0.0786384 9.51773 0.00805503 9.6912 0.00473343 9.90013C0.0015779 10.1089 0.0721612 10.2855 0.216483 10.43C0.360971 10.5743 0.536018 10.6465 0.741623 10.6465C0.947228 10.6465 1.12227 10.5743 1.26676 10.43L5.74515 5.95161C5.83832 5.85828 5.90409 5.75988 5.94245 5.65641C5.98082 5.55294 6 5.44117 6 5.3211C6 5.20102 5.98082 5.08925 5.94245 4.98579C5.90409 4.88232 5.83832 4.78392 5.74515 4.69058L1.26676 0.212192C1.12875 0.0743467 0.955285 0.00376337 0.746358 0.000442635C0.537597 -0.00271311 0.360973 0.0678692 0.216485 0.212192C0.0721629 0.35668 1.76852e-06 0.531727 1.73257e-06 0.737332C1.69662e-06 0.942937 0.0721628 1.11798 0.216485 1.26247L4.27536 5.3211Z" fill="white"/>
                            </svg>
                        </button>
                    </div>

                </div>
            }
    </div>
  </div>

</div>

@if(showError){
  <div class="overlay fixed inset-0 w-full h-screen bg-black/80 z-40" (click)="showError = false"></div>
    <error-message class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50" [message]="errorMessage" (close)="showError = false"></error-message>
}
