<!-- Drawer Overlay (Backdrop) -->
<div class="fixed inset-0 bg-black/90 flex justify-end transition-opacity duration-1000 z-50"
     [ngClass]="{'opacity-100': isOpen, 'opacity-0 pointer-events-none': !isOpen}">

  <!-- Drawer Content -->
  <div class="w-4/5 md:w-1/2 bg-white  h-full px-5 md:px-6 py-10 md:py-12 overflow-y-auto transform transition-transform duration-1000"
       [ngClass]="{'translate-x-0': isOpen, 'translate-x-full': !isOpen, '-translate-x-full': !initialized}">

    <!-- Header -->
    <div class="flex justify-between items-center">
      <h2 class="text-2xl font-semibold text-primary-100 mb-4">
        {{ pricePlanTranslationKey | translate }}
      </h2>
      <button type="button" (click)="closeDrawer()"
              class="text-gray-500 hover:text-gray-700">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.33464 15.8327L4.16797 14.666L8.83464 9.99935L4.16797 5.33268L5.33464 4.16602L10.0013 8.83268L14.668 4.16602L15.8346 5.33268L11.168 9.99935L15.8346 14.666L14.668 15.8327L10.0013 11.166L5.33464 15.8327Z" fill="currentColor" fill-opacity="0.6"/>
        </svg>

      </button>
    </div>

    <!-- Price Plan Form -->
    <div [formGroup]="formGroup" class="bg-white rounded-lg">

        <!-- Nombre -->
        <div class="mb-4">
          <label class="font-semibold text-base ">
            {{ 'FORMS.PRICE_PLANS._name' | translate }}
          </label>
          <input data-cy="pricePlanName" formControlName="name" type="text"
          [ngClass]="(formGroup.get('name')?.invalid == true && formGroup.value.name!='') || (formGroup.get('name')?.touched && formGroup.value.name=='') || (formGroup.hasError('nonUniqueName') && formGroup.get('name')?.touched) ? 'border-red-600' : 'border-gray-300 '"
                 class="mt-1 w-full p-2 border rounded">
          @if(formGroup.hasError('nonUniqueName') && formGroup.get('name')?.touched){
            <p class="text-sm text-red-600"><span class="font-medium">{{ 'FORMS.PRICE_PLANS._unique' | translate }}</span></p>
          }
          @if(formGroup.get('name')?.invalid && formGroup.get('name')?.errors?.['required'] && (formGroup.get('name')?.touched && formGroup.value.name=='')){
            <p class="text-sm text-red-600"><span class="font-medium">{{ 'FORMS.PRICE_PLANS._mandatory' | translate }}</span></p>
          }
        </div>

        <!-- Descripción -->
        <div class="mb-4">
          <label class="font-semibold text-base ">
            {{ 'FORMS.PRICE_PLANS._description' | translate }}
          </label>
          <app-markdown-textarea formControlName="description"></app-markdown-textarea>
        </div>

        <!-- Checkbox: Permitir pago online
        <div class="mb-4">
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox"
                   formControlName="paymentOnline"
                   class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-purple-300  rounded-full peer  peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-purple-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 ">{{ 'FORMS.PRICE_PLANS._online_payment' | translate }}</span>
          </label>
        </div>-->

        <!-- Only when online payment is enabled -->

        @if (formGroup.get('paymentOnline')?.value) {

          <!-- Selección del perfil del producto -->
          <div class="mb-4">
            <h3 class="font-semibold text-base ">
              {{ 'FORMS.PRICE_PLANS._config_profile' | translate }}
            </h3>
          @if(!checkPriceCompChars()){
          @if ((formGroup.get('prodSpecCharValueUse')?.value?.length > 0) || (formGroup.get('productProfile')?.value?.selectedValues.length > 0)){
            <div class="overflow-x-auto">
              <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-base text-primary-100 bg-gray-0">
                <tr>
                  <th class="px-4 py-2">{{ 'FORMS.PRICE_PLANS._char_name' | translate }}</th>
                  <th class="px-4 py-2">{{ 'FORMS.PRICE_PLANS._char_value' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let char of getProcessedProfileData()" class="bg-white  border-b">
                  <td class="px-4 py-1">{{ char.name }}</td>
                  <td class="px-4 py-1">
                    @if (char.selectedValue) {
                      @if(char.selectedValue.value){
                        {{ char.selectedValue.value }}
                        {{ char.selectedValue.unitOfMeasure || '' }}
                      } @else {
                        {{ char.selectedValue }}
                      }
                    } @else {
                      {{ 'FORMS.PRICE_PLANS._no_value_selected' | translate }}
                    }
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <!-- Pagination Controls -->
            <div class="flex justify-between items-center mt-2">
              <button type="button" (click)="openConfigurationProfileDrawer()"
                      class="px-4 py-1 bg-purple-500 text-white rounded flex items-center">
                <svg class="min-w-4 w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0
                        32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7
                        0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1
                        1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3
                        28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7
                        0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7
                        224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5
                        48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"/>
                </svg>
                {{ configurationProfileButtonText | translate }}
              </button>
              <div class="flex justify-end items-center space-x-1">
                <button (click)="prevPage()" [disabled]="currentPage === 0"
                        class="flex items-center justify-center px-4 py-1 bg-gray-300 rounded disabled:opacity-50">
                  <svg class="min-w-4 w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path fill="currentColor"
                          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3
                    256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                  </svg>
                  {{ 'FORMS.PRICE_PLANS._prev' | translate }}
                </button>
                <span class="text-gray-700">
                  {{ currentPage + 1 }} / {{ totalPages }}
                </span>
                <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1"
                        class="flex items-center justify-center px-4 py-1 bg-gray-300 rounded disabled:opacity-50">
                  {{ 'FORMS.PRICE_PLANS._next' | translate }}
                  <svg class="min-w-4 w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path fill="currentColor"
                          d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7
                  256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                  </svg>
                </button>
              </div>
            </div>
          } @else {
            <div class="p-4 my-2 text-sm text-center text-purple-800 rounded-lg bg-purple-50" role="alert">
              <span class="font-medium">{{ 'FORMS.PRICE_PLANS._profile_desc' | translate }}</span>
            </div>
            <div class="px-4">
              <button type="button" (click)="openConfigurationProfileDrawer()"
                      class="mt-2 px-4 py-1 bg-purple-500 text-white rounded flex items-center">
                <svg class="min-w-4 w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0
                        32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7
                        0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1
                        1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3
                        28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7
                        0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7
                        224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5
                        48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"/>
                </svg>
                {{ configurationProfileButtonText | translate }}
              </button>
            </div>
          }
        } @else {
          <div class="p-4 my-2 text-sm text-center text-purple-800 rounded-lg bg-purple-50" role="alert">
            <span class="font-medium">{{ 'FORMS.PRICE_PLANS._price_comp_with_chars' | translate }}</span>
          </div>
        }
            <!-- Configuration Profile Drawer -->
            <app-configuration-profile-drawer *ngIf="showConfigurationDrawer"
                                              [profileData]="getProfileData()"
                                              (save)="updateConfigurationProfile($event)"
                                              (close)="showConfigurationDrawer = false">
            </app-configuration-profile-drawer>

          </div>
          <!-- Tabla de Price Components -->
          <div class="mb-4">
            <h3 class="font-semibold text-base ">
              {{ 'FORMS.PRICE_PLANS._price_components' | translate }}
            </h3>
            <div class="mb-4 p-2">
              <label class="font-medium text-base ">
                {{ 'FORMS.PRICE_PLANS._currency' | translate }}
              </label>
              <select formControlName="currency" class="mt-1 w-full p-2 border rounded   ">
                @for(curr of currencies; track curr.code){
                  <option value="{{curr.code}}" [selected]="curr.code === this.formGroup.get('currency')?.value">({{curr.code}}) {{curr.name}}</option>
                }
              </select>
            </div>
            <div class="p-2">
              <app-price-components-table [priceComponents]="formGroup.get('priceComponents')?.value"
                                          (edit)="editPriceComponent($event)"
                                          (delete)="deletePriceComponent($event)">
              </app-price-components-table>

              <div class="px-4">
                <button data-cy="newPriceComponent" type="button" (click)="openPriceComponentDrawer()"
                        class="mt-2 px-4 py-2 bg-purple-500 text-white rounded flex items-center">
                  <svg class="min-w-4 w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                          d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24
              24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64
              0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                  </svg>
                  {{ 'FORMS.PRICE_PLANS._add_price_component' | translate }}
                </button>
              </div>
            </div>
          </div>
        }

        <!-- Action Buttons -->
        <div class="flex justify-end space-x-3">
          <button type="submit"
                  data-cy="savePricePlan"
                  (click)="savePricePlan()"
                  [disabled]="formGroup.invalid"
                  class="px-4 py-2 rounded-full text-white flex items-center gap-2 transition"
                  [ngClass]="{'bg-primary-100': formGroup.valid, 'bg-gray-400 cursor-not-allowed': formGroup.invalid}">
            {{ 'FORMS.PRICE_PLANS._save' | translate }}
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.13282 6.22384L10.6019 0.228354C10.7648 0.0783536 10.9552 0.00225145 11.1733 4.72682e-05C11.3912 -0.00215691 11.5835 0.0727267 11.7501 0.224699C11.9167 0.376555 12 0.552774 12 0.753354C12 0.953934 11.9167 1.13143 11.7501 1.28584L4.77703 7.74176C4.5934 7.91392 4.37923 8 4.13451 8C3.8898 8 3.6745 7.91392 3.48862 7.74176L0.240355 4.73132C0.07863 4.58445 -0.00148135 4.41009 2.07343e-05 4.20823C0.00139765 4.00637 0.0840751 3.82824 0.248053 3.67383C0.411905 3.51942 0.602044 3.44222 0.81847 3.44222C1.0349 3.44222 1.22641 3.51942 1.39302 3.67383L4.13282 6.22384Z" fill="currentColor"/>
            </svg>
          </button>
          <button type="button" (click)="closeDrawer()" class="px-4 py-2 flex items-center gap-2 bg-danger/15 text-danger rounded-full">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.33464 15.8327L4.16797 14.666L8.83464 9.99935L4.16797 5.33268L5.33464 4.16602L10.0013 8.83268L14.668 4.16602L15.8346 5.33268L11.168 9.99935L15.8346 14.666L14.668 15.8327L10.0013 11.166L5.33464 15.8327Z" fill="currentColor" fill-opacity="0.6"/>
            </svg>

            {{ 'FORMS.PRICE_PLANS._cancel' | translate }}
          </button>

        </div>

    </div>

    <!-- Drawer para editar Price Components -->
    <app-price-component-drawer *ngIf="showPriceComponentDrawer"
                                [component]="editingComponent"
                                [prodChars]="prodSpec?.productSpecCharacteristic"
                                [profileData]="checkProfileData()"
                                (save)="closePriceComponentDrawer($event)"
                                (close)="closePriceComponentDrawer($event)">
    </app-price-component-drawer>

  </div>
</div>
