@if (treatmentControl) {
  <label for="prod-name" class="font-semibold text-lg ">{{ 'CREATE_OFFER._treatment' | translate }}</label>
  <input data-cy="treatment" id="prod-name" type="text" [formControl]="treatmentControl" maxLength="100"
         class="mb-2 bg-white  border border-gray-0   text-gray-100 text-sm rounded-lg focus:ring-primary-100 focus:border-primary-100 block w-full p-2.5"/>
}

@if (descControl) {
  <label class="font-semibold text-base col-span-2 text-primary-100">{{ 'CREATE_OFFER._description' | translate }}</label>
  <app-markdown-textarea [formControl]="descControl"></app-markdown-textarea>
}
