<div class="mt-8">
  <!-- <h2 class="text-xl font-semibold text-secondary-100 ">{{ 'FORMS.PRICE_PLANS._price_plans' | translate }}</h2> -->

  @if(!IS_ISBE){
    <!-- Payment Online Checkbox -->
    <div class="mb-4 flex items-center">
      <input type="checkbox"
            data-cy="onlinePayment"
            [formControl]="paymentOnlineControl"
            (change)="onPaymentOnlineChange($event)"
            class="w-8 h-8 text-primary-50 bg-gray-0 border-gray-0 rounded focus:ring-purple-500 disabled:opacity-50 disabled:cursor-not-allowed">
      <label class="ms-2 text-sm font-medium text-gray-900 ">
        {{ 'FORMS.PRICE_PLANS._online_payment_desc' | translate }}
        @if (pricePlans.length > 0) {
          <span class="text-xs text-gray-500 ml-2">({{ 'FORMS.PRICE_PLANS._locked_after_first_plan' | translate }})</span>
        }
      </label>
    </div>
  }


  <!-- Price Plans Table -->
  <app-price-plans-table
    [pricePlans]="pricePlans"
    (edit)="editPricePlan($event)"
    (delete)="removePricePlan($event)"
    (openDrawer)="openPricePlanDrawer()">
  </app-price-plans-table>
</div>

<!-- Price Plan Drawer -->
@if (showDrawer) {
  <app-price-plan-drawer
    [formGroup]="selectedPricePlan"
    [prodSpec]="prodSpec"
    [action]="action"
    (save)="savePricePlan($event)"
    (close)="closeDrawer()">
  </app-price-plan-drawer>
}
