<div>
    <!-- Breadcrumb -->
    <div class="pb-4">
        <div class="flex flex-wrap items-center gap-2">
            <button (click)="goBack()" aria-label="Breadcrumb"
                class="flex items-center gap-2 text-xs text-white bg-primary-100 py-0.5 px-2 rounded-lg">
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_299_20420)">
                        <path
                            d="M0.000426107 6.02887L0.578403 6.60685L0.579784 6.60547L4.33491 10.3606L4.91219 9.7833L1.56656 6.43767L8.62105 6.43767L8.62105 5.62007L1.56518 5.62008L4.91081 2.27444L4.33284 1.69646L0.000426107 6.02887Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_299_20420">
                            <rect width="8.52661" height="8.52661" fill="white"
                                transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 12.0586 6.0293)" />
                        </clipPath>
                    </defs>
                </svg>
                {{ 'USAGE_SPECS._back' | translate }}
            </button>
        </div>
    </div>
  <!-- End Breadcrumb -->

  <usage-spec-form [seller]="seller" [formType]="'update'" [usageSpec]="usageSpec"></usage-spec-form>
</div>
