<div class="relative pointer-events-auto">
    <div id="pre-header" class="flex flex-wrap items-center justify-start gap-x-5 gap-y-4 md:gap-5 mx-auto py-4 px-8 bg-beige text-black">
        <img src="assets/logos/partner_logo_black.svg" class="w-auto h-5 sm:h-6" alt="Logo" />
        <img src="assets/logos/gobierno_black.svg" class="w-auto h-5 sm:h-6" alt="Logo" />
        <img src="assets/logos/plan_black.svg" class="w-auto h-5 sm:h-6" alt="Logo" />
        <img src="assets/logos/madrid_black.svg" class="w-auto h-5 sm:h-6" alt="Logo" />
        <img src="assets/logos/alastria_black.svg" class="w-auto h-5 sm:h-6" alt="Logo" />
    </div>
    <nav class="text-white border-gray-200 bg-primary-100">
        <div class="flex flex-col md:flex-row md:flex-wrap items-start md:items-center justify-between mx-auto py-4 px-8 gap-8" >
            <div class="w-full flex flex-row justify-between items-center md:gap-8">
              <a (click)="goTo('/dashboard')" class="flex items-center align-items-middle cursor-pointer">
                  <img src="assets/logos/ISBE_logo_black_name.svg" class="max-w-64 h-10 lg:h-12" alt="ISBE Catalog Logo" />
              </a>
              <div class="hidden w-full lg:block lg:w-auto lg:ml-auto bg-primary-100 rounded-lg align-items-middle">
                  <ul class="flex flex-col font-medium p-4 lg:p-0 rounded-lg lg:text-white lg:flex-row lg:space-x-8 lg:mt-0 lg:border-0">
                      <li>
                          <a data-cy="publishOffering" (click)="goTo('/publish')" id="verifyDropdown"
                          class="block cursor-pointer py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary-50 lg:p-0"
                          aria-current="page">{{ 'HEADER._verify' | translate }}</a>
                      </li>
                      <li data-cy="browse">
                          <a id="searchDropdown" (click)="goTo('/about');"
                          class="block cursor-pointer py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary-50 lg:p-0 "
                          aria-current="page">{{ 'HEADER._about_isbe' | translate }}</a>
                      </li>
                      <li data-cy="about" id="aboutIsbe"> <a href="{{isbeAbout}}"
                          class="block cursor-pointer py-2 pl-3 pr-4 text-white rounded hover:bg-secondary-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary-50 lg:p-0 "
                          aria-current="page">{{ 'HEADER._about' | translate }}</a>
                      </li>
                      <li class="sm:block lg:hidden">
                          <a href="{{isbeRegister}}" class="cursor-pointer py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 lg:hover:bg-transparent
                          lg:border-0 lg:hover:text-secondary-50 lg:p-0 " aria-current="page">{{ 'HEADER._register' | translate }}</a>
                      </li>
                      <li class="sm:block lg:hidden">
                          <a (click)="onLoginClick()" class="cursor-pointer py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 lg:hover:bg-transparent
                          lg:border-0 lg:hover:text-secondary-50 lg:p-0 " aria-current="page">{{ 'HEADER._login' | translate }}</a>
                      </li>
                  </ul>
              </div>
            
              <div class="flex flex-cols gap-2">
              @if (is_logged) {
                  <div data-cy="loggedAcc" id="loggedAcc" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-end"
                      class="relative px-5 py-3 hidden md:flex items-center gap-3 justify-center overflow-hidden rounded-full border border-white cursor-pointer">
                      <span class="text-xxs text-primary-100 bg-primary-50 rounded-full p-1">{{ usercharacters }}</span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9995 15.0388L6.3457 9.38481L7.39945 8.33105L11.9995 12.9158L16.5995 8.33105L17.6532 9.38481L11.9995 15.0388Z" fill="white"/>
                      </svg>
                  </div>
              }
              @else {
                  <button data-cy="login" id="login" (click)="onLoginClick()" type="button" 
                    class="group w-full flex flex-col justify-center text-white border border-white hover:bg-white rounded-full px-5 py-1">
                      <span class="text-xs text-white opacity-70 group-hover:text-primary-100">{{ 'HEADER._login_message' | translate }}</span>
                      <span class="font-semibold text-base uppercase group-hover:text-primary-100">{{ 'HEADER._login' | translate }}</span>
                  </button>
                  <a data-cy="registerAcc" id="register" [href]="isbeRegister" target="_blank" 
                    class="hidden lg:flex items-center gap-3 w-full text-primary-100 bg-primary-50 hover:bg-white hover:text-primary-100
                      rounded-full px-5 py-1 ">
                      <div class="flex flex-col">
                        <span class="text-xs text-black whitespace-nowrap">{{ 'HEADER._register_message' | translate }}</span>
                        <span class="uppercase text-base font-semibold">{{ 'HEADER._register' | translate }}</span>
                      </div>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.29425 17.6443L5.25 16.6L15.0905 6.75H6.14425V5.25H17.6443V16.75H16.1443V7.80375L6.29425 17.6443Z" fill="currentColor"/>
                      </svg>
                  </a>
                  
              }
              <button #navbarbutton type="button" (click)="toggleNavBar();$event.stopPropagation();" class="inline-flex items-center w-7.5 h-7.5 justify-center text-sm text-white
                  rounded-lg lg:hidden" aria-controls="navbar-dropdown" aria-expanded="false">
                  <span class="sr-only">{{ 'HEADER._open_menu' | translate }}</span>
                  @if(isNavBarOpen){
                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.707031 0.707031L29.457 29.457" stroke="currentColor" stroke-width="2"/>
                      <path d="M29.457 0.707031L0.707033 29.457" stroke="currentColor" stroke-width="2"/>
                    </svg>
                  }
                  @else {
                    <svg width="29" height="27" viewBox="0 0 29 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 6H29" stroke="currentColor" stroke-width="2"/>
                      <path d="M0 16H29" stroke="currentColor" stroke-width="2"/>
                      <path d="M0 26H29" stroke="currentColor" stroke-width="2"/>
                    </svg>
                  }
              </button>
            </div>
        </div>
        @if(isNavBarOpen){
            <div class="w-full flex flex-col gap-10 bg-primary-100" id="navbar-dropdown">
                <ul class="flex flex-col rounded-2xl text-white bg-white/20 gap-3 px-4 py-5">
                    <li>
                      <a data-cy="publishOffering" (click)="goTo('/publish')" id="verifyDropdown"
                        class="block text-white"
                        aria-current="page">{{ 'HEADER._verify' | translate }}</a>
                    </li>
                    <li data-cy="browse">
                      <a id="searchDropdown" (click)="goTo('/about');"
                        class="block text-white"
                        aria-current="page">{{ 'HEADER._about_isbe' | translate }}</a>
                    </li>
                    <li data-cy="about" id="aboutIsbe">
                      <a href="{{isbeAbout}}"
                        class="block text-white"
                        aria-current="page">{{ 'HEADER._about' | translate }}</a>
                    </li>
                    @if (!is_logged) {
                        <li>
                            <a href="{{isbeRegister}}" target="_blank" type="button"
                            class="block text-white" aria-current="page">{{ 'HEADER._register' | translate }}</a>
                        </li>
                    }
                    <!--<li> <button data-dropdown-toggle="support-dropdown" data-dropdown-placement="bottom-end" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-secondary-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary-50 lg:p-0 " aria-current="page">{{ 'HEADER._support' | translate }}</button> </li>-->
                </ul>

                @if (is_logged) {
                    <private-area-menu [variant]="'header'" [active]="activeTab" (select)="onMenuSelect($event)"></private-area-menu>
                    <div class="flex flex-col rounded-2xl text-white bg-white/20 gap-3 px-4 py-5">
                        <button id="signOut" (click)="logout()" class="flex w-full justify-end text-base font-semibold text-green">
                            {{ 'HEADER._sign_out' | translate }} <fa-icon [icon]="faArrowRightFromBracket" class="ml-4"></fa-icon>
                        </button>
                    </div>
                }
            </div>
        }
        @if (is_logged) {
            <div id="userDropdown" class="z-50 uppercase hidden bg-white divide-y divide-primary-100/50 border border-black rounded-lg w-46">
                <div class="px-4 py-3 text-base text-gray-900 ">
                    <div>{{ username }}</div> <div class="font-medium truncate line-clamp-2">{{ email }}</div>
                </div>
                <ul class="py-2 text-base text-gray-900" aria-labelledby="avatarButton">
                    @if (!loggedAsOrg || roles.includes('orgAdmin')) {
                        <li>
                            <button id="userProfile" (click)="goTo('/profile')" class="flex w-full justify-left px-4 py-2 uppercase">
                                <fa-icon [icon]="faAddressCard" class="mr-2"></fa-icon>{{ 'HEADER._profile' | translate }}
                            </button>
                        </li> }
                        @if (roles.includes('seller')) {
                            <li>
                                <button id="myOfferings" (click)="goTo('/my-offerings')" class="flex w-full justify-left px-4 py-2 uppercase">
                                    <fa-icon [icon]="faHandHoldingBox" class="mr-2"></fa-icon>{{ 'HEADER._offerings' | translate }}
                                </button>
                            </li>
                        }
                        @if (isAdmin) {
                            <li>
                                <button id="administration" (click)="goTo('/admin')" class="flex w-full justify-left px-4 py-2 uppercase">
                                    <fa-icon [icon]="faCogs" class="mr-2"></fa-icon>{{ 'HEADER._admin' | translate }}
                                </button>
                            </li>
                        }
                        @if (!IS_ISBE) {
                            <li>
                                <button id="usageSpecs" (click)="goTo('/usage-spec')" class="flex w-full justify-left px-4 py-2 uppercase">
                                    <fa-icon [icon]="faRuler" class="mr-2">
                                    </fa-icon>Usage Spec
                                </button>
                            </li>
                            <li>
                                <button id="myInventory" (click)="goTo('/product-inventory')" class="flex w-full justify-left px-4 py-2 uppercase">
                                    <fa-icon [icon]="faBoxesStacked" class="mr-2">

                                    </fa-icon>{{ 'HEADER._inventory' | translate }}
                                </button>
                            </li>
                        }
                </ul>
                <div class="py-1 uppercase">
                    @if (orgs.length > 0 && isAdmin && !IS_ISBE) {
                        <button data-dropdown-toggle="orgs-dropdown" data-dropdown-placement="left-start" class="flex w-full justify-left px-4 py-2
                        text-base text-gray-900 hover:bg-gray-100">
                            <fa-icon [icon]="faAnglesLeft" class="mr-2"></fa-icon>{{ 'HEADER._change_session' | translate }}
                        </button>
                    }
                    <button id="signOut" (click)="logout()" class="flex w-full justify-left px-4 py-2 text-base text-gray-900 uppercase">
                        <fa-icon [icon]="faArrowRightFromBracket" class="mr-2"></fa-icon>{{ 'HEADER._sign_out' | translate }}
                    </button>
                </div>
            </div>
        }
    </div>
        <div id="support-dropdown" class="z-50 uppercase hidden bg-white divide-y divide-primary-100/50 border border-black rounded-lg w-44">
            <ul class="py-2 text-base text-gray-900" aria-labelledby="avatarButton">
                <li>
                    <a href="{{ knowledge }}" target="_blank" class="flex w-full justify-left px-4 py-2 uppercase ">
                        <fa-icon [icon]="faBrain" class="mr-2"></fa-icon>{{ 'HEADER._knowledge' | translate }}</a>
                    </li>
                    <li> <a href="{{ ticketing }}" target="_blank" class="flex w-full justify-left px-4 py-2 uppercase ">
                        <fa-icon [icon]="faClipboardCheck" class="mr-2"></fa-icon>{{ 'HEADER._ticketing' | translate }}
                    </a>
                </li>
            </ul>
        </div>
        <div id="orgs-dropdown" class="z-50 uppercase hidden bg-white divide-y divide-primary-100/50 rounded-lg w-44">
            <ul class="py-2 text-base text-gray-700" aria-labelledby="avatarButton">
                @for (org of orgs; track org.id; let idx = $index) {
                    @if (org.id !== currentOrgId) {
                    <li>
                        <button (click)="changeSession(idx, false); hideDropdown('orgs-dropdown');" class="flex w-full justify-left px-4 py-2
                            hover:bg-gray-100 "> <fa-icon [icon]="faUsers" class="mr-2"></fa-icon>{{ org.name }}
                        </button>
                    </li>
                    }
                }
                @if (loggedAsOrg) {
                <li>
                    <button (click)="changeSession(0, true); hideDropdown('orgs-dropdown');"
                    class="flex w-full justify-left px-4 py-2 hover:bg-gray-100 ">
                    <fa-icon [icon]="faUser" class="mr-2"></fa-icon>{{ username }}
                    </button>
                </li> }
            </ul>
        </div>
    </nav>
</div>
@if (showCart) {
    <div class="flex h-screen w-full backdrop-blur-sm absolute top-0 right-0 z-40">
        <app-cart-drawer (click)="$event.stopPropagation();" class="absolute top-0 right-0 z-40 h-screen p-4 overflow-y-auto
        transition-transform bg-white w-1/3 "></app-cart-drawer>
    </div>
}
