<div id="details-modal" tabindex="-1" aria-hidden="true" class="flex justify-center items-center w-full max-w-5xl px-4 mx-auto md:inset-0 h-full max-h-full rounded-lg" >
    <div class="relative w-full max-w-[90rem] max-h-full" (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation();">
        <!-- Modal content -->
        <div class="relative p-8 bg-white rounded-3xl shadow-2xl  bg-cover bg-right-bottom overflow-y-auto max-h-[calc(100vh-10rem)]">
          <button (click)="hideModal();" type="button" class="absolute top-8 right-4 z-50 text-white bg-black hover:bg-gray-200 hover:text-gray-900 rounded-full text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="details-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <!-- <span class="sr-only">{{ 'CARD._close' | translate }}</span> -->
          </button>

            <!-- START HEADER CARD -->
            <div class="w-full grid md:grid-cols-[150px_auto] gap-8">

              <div class="relative w-[150px] h-auto aspect-square rounded-3xl overflow-hidden flex justify-center items-center">
                <img class="size-full object-cover z-10" src="{{getProductImage()}}" alt="Product" />
              </div>

              <div class="flex flex-col overflow-x-hidden gap-3">
                <h5 class="md:text-3xl font-semibold tracking-tight text-primary-100 text-wrap break-all">{{productOff?.name}}</h5>
                <div class="flex flex-row gap-2">
                    @if(orgName){
                        <div class="min-h-19 text-gray-500 ">
                            {{ orgName }}
                        </div>
                    }
                    <div class="min-h-19 text-gray-500 ">·</div>
                    <div class="min-h-19 text-gray-500 ">V: {{productOff?.version || 'latest'}}</div>
                    <div class="min-h-19 text-gray-500 ">·</div>
                    @if(orgUrl){
                        <div (click)="goToUrl()" class="flex flex-row gap-2 min-h-19 text-gray-500 cursor-pointer items-center">
                            {{ orgUrl }}
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round">

                                <path d="M14 3h7v7"></path>
                                <path d="M10 14L21 3"></path>
                                <path d="M21 14v7h-7"></path>
                                <path d="M3 10V3h7"></path>

                            </svg>
                        </div>
                    }
                </div>

                <ul class="flex gap-2.5 flex-wrap mb-4">
                @for (cat of categories; track cat.id) {
                    <bae-badge [category]=cat></bae-badge>
                }
                @if(loadMoreCats){
                    @for (cat of categoriesMore; track cat.id) {
                    <bae-badge class="mr-2" [category]=cat></bae-badge>
                    }
                }
                @if(checkMoreCats){
                    <a (click)="loadMoreCategories()" class="cursor-pointer w-fit py-1 px-3 rounded-md bg-black/5 text-black/60 font-semibold text-sm">
                        +
                    </a>
                }
                @if(closeCats){
                    <a (click)="closeCategories()" class="cursor-pointer w-fit py-1 px-3 rounded-md bg-black/5 text-black/60 font-semibold text-sm">
                        <fa-icon [icon]="faClose"></fa-icon>
                    </a>
                }
                </ul>

                <!-- <div class="relative h-[200px] overflow-hidden flex justify-center items-center border border-1 border-gray-200 rounded-tr-lg">
                  <div class="absolute inset-0 bg-cover bg-center opacity-75" [style.background-image]="'url(' + getProductImage() + ')'" [style.filter]="'blur(20px)'"></div>
                </div> -->

                <hr class="h-px border-black border-1">

                <div class="flex flex-col">
                  <div class="flex flex-col gap-8 justify-start py-8">
                    <div class="justify-start">
                        <h5 class="font-semibold tracking-tight text-xl md:text-lg mb-4 text-primary-100 ">{{ 'CARD._prod_details' | translate }}</h5>
                        <markdown class="min-h-19 h-19  line-clamp-6 text-wrap break-all" [data]="productOff?.description"></markdown>
                        <markdown class="min-h-19 h-19  line-clamp-6 text-wrap break-all" [data]="prodSpec.description"></markdown>
                    </div>

                    <div class="justify-start">
                      <h5 class="font-semibold tracking-tight text-xl md:text-lg mb-4 text-primary-100 ">{{ 'CARD._extra_info' | translate }}</h5>
                      <ul class="max-w-md space-y-1 list-disc list-inside  text-wrap break-all line-clamp-8">
                        <li class="text-wrap break-all line-clamp-1">{{ 'CARD._offer_version' | translate }}: v{{productOff?.version}}</li>
                        <li class="text-wrap break-all line-clamp-2">{{ 'CARD._product_name' | translate }}: {{prodSpec.name}}</li>
                        <li class="text-wrap break-all line-clamp-1">{{ 'CARD._brand' | translate }}: {{prodSpec.brand}}</li>
                        <li class="text-wrap break-all line-clamp-1">{{ 'CARD._last_update' | translate }}: {{productOff?.lastUpdate | date:'dd/MM/yy, HH:mm'}}</li>
                        <li class="text-wrap break-all line-clamp-1">{{ 'CARD._product_version' | translate }}: v{{prodSpec.version}}</li>
                        @if(prodSpec.productNumber != ''){
                          <li class="text-wrap break-all line-clamp-1">{{ 'CARD._id_number' | translate }}: {{prodSpec.productNumber}}</li>
                        }
                      </ul>
                    </div>
                  </div>

                  <hr class="h-px border-black border-1">

                  <div class="flex flex-col gap-2.5 justify-start py-8">
                    <h5 class="font-semibold tracking-tight text-xl md:text-lg text-primary-100 ">{{ 'PRODUCT_DETAILS._product_pricing' | translate }}:</h5>
                    @if(productOff?.productOfferingPrice != undefined){
                      @if(checkCustom){
                          <div class="max-w-[70%] w-full">
                              @for (price of productOff?.productOfferingPrice; track price.id) {
                                @if (price.priceType == 'custom') {
                                  <div class="mx-auto bg-purple-500 rounded-lg w-full flex flex-col gap-2.5 p-8">
                                      <h2 class="text-xl font-semibold text-white">{{price.name}}</h2>
                                      <markdown class="text-white w-full text-wrap break-all" [data]="price?.description"></markdown>
                                  </div>
                                }
                              }
                              @if(productOff?.productOfferingPrice?.length==0){
                                  <div class="inline-flex items-center justify-center w-full bg-purple-500">
                                      <div class="mx-auto rounded-lg w-full">
                                          <div class="rounded-t-lg w-full">
                                              <h5 class="flex justify-center mb-2 p-6 text-2xl font-semibold tracking-tight text-white">{{ 'SHOPPING_CART._no_price' | translate }}</h5>
                                          </div>
                                          <p class="flex justify-center mb-2 p-4 font-normal text-white">{{ 'SHOPPING_CART._no_price_desc' | translate }}</p>
                                      </div>
                                  </div>
                              }
                          </div>
                      } @else {
                          <div class="max-w-[70%] w-full">
                              @for (price of productOff?.productOfferingPrice; track price.id) {
                                  @if (price.priceType == 'recurring') {
                                      <div class="mx-auto bg-white rounded-lg w-full">
                                          <div class="bg-green-500 rounded-t-lg w-full text-wrap break-all">
                                              <h5 class="flex justify-start p-6 text-xl font-semibold text-white w-full">{{price.name}}</h5>
                                          </div>
                                          <div class="pl-4 pr-4">
                                              <markdown class="text-white w-full p-4 text-wrap break-all" [data]="price?.description"></markdown>
                                          </div>
                                      </div>
                                  } @else if (price.priceType == 'usage') {
                                      <div class="mx-auto bg-white rounded-lg w-full">
                                          <div class="bg-yellow-300 rounded-t-lg w-full">
                                              <h5 class="flex justify-start p-6 text-xl font-semibold text-white text-wrap break-all">{{price.name}}</h5>
                                          </div>
                                          <div class="pl-4 pr-4">
                                              <markdown class="text-white w-full p-4 text-wrap break-all" [data]="price?.description"></markdown>
                                          </div>
                                      </div>
                                  } @else {
                                      <div class="mx-auto bg-white rounded-lg w-full">
                                          <div class="bg-purple-500 rounded-t-lg w-full">
                                              <h5 class="flex justify-start p-6 text-xl font-semibold text-white text-wrap break-all">{{price.name}}</h5>
                                          </div>
                                          <div class="pl-4 pr-4">
                                              <markdown class="text-white w-full p-4 text-wrap break-all" [data]="price?.description"></markdown>
                                          </div>
                                      </div>
                                  }
                              }
                              @if(productOff?.productOfferingPrice?.length==0){
                                  <div class="mx-auto bg-white rounded-lg w-full">
                                      <div class="bg-purple-500 rounded-lg w-full flex flex-col gap-4 p-6">
                                          <h5 class="flex justify-start text-xl font-semibold text-white">{{ 'SHOPPING_CART._no_price' | translate }}</h5>
                                          <p class="flex justify-start font-normal text-white text-base">{{ 'SHOPPING_CART._no_price_desc' | translate }}</p>
                                        </div>
                                  </div>
                              }
                          </div>
                      }
                  }
                  </div>

                  <hr class="h-px border-black border-1">

                  <div class="flex flex-col gap-2.5 justify-start py-8">
                    <h5 class="font-semibold tracking-tight text-xl md:text-lg text-primary-100 ">{{ 'PRODUCT_DETAILS._product_chars' | translate }}</h5>
                      <div class="container mx-auto">
                          <div class="flex flex-col flex-wrap">
                              @for (char of prodChars; track char.id; let idx = $index) {
                                  <div class="w-full md:w-1/2 mb-8">
                                      <div class="border border-gray-200 rounded-lg overflow-hidden   h-full">
                                          <h3 class="text-base font-semibold text-primary-100 p-4 bg-gray-200">{{char.name}}</h3>
                                          @for (val of char?.productSpecCharacteristicValue; track val.value) {
                                              @if (val?.isDefault == true) {
                                                  <div class="flex items-center p-4">
                                                      <input disabled checked id="disabled-checked-checkbox" type="checkbox" value="" class="w-4 h-4 p-2 text-primary-100 bg-gray-100 border-gray-300 rounded-full ">
                                                      @if(val.value){
                                                          <label for="disabled-checked-checkbox" class="ms-2 text-sm font-medium text-gray-700 text-wrap break-all">{{val.value}} ({{val.unitOfMeasure}})</label>
                                                      } @else {
                                                          <label for="disabled-checked-checkbox" class="ms-2 text-sm font-medium text-gray-700 text-wrap break-all">{{val.valueFrom}} - {{val.valueTo}} ({{val?.unitOfMeasure}})</label>
                                                      }
                                                  </div>
                                              } @else {
                                                  <div class="flex items-center p-4">
                                                      <input disabled id="disabled-checkbox" type="checkbox" value="" class="w-4 h-4 p-2 text-primary-100 bg-gray-100  border-gray-300 rounded-full">
                                                      @if(val.value){
                                                          <label for="disabled-checked-checkbox" class="ms-2 text-sm font-medium text-gray-700 text-wrap break-all">{{val.value}} ({{val.unitOfMeasure}})</label>
                                                      } @else {
                                                          <label for="disabled-checked-checkbox" class="ms-2 text-sm font-medium text-gray-700 text-wrap break-all">{{val.valueFrom}} - {{val.valueTo}} ({{val?.unitOfMeasure}})</label>
                                                      }
                                                  </div>
                                              }
                                          }
                                      </div>
                                  </div>
                              } @empty {
                                  <div class="flex items-center w-full">
                                      <div class="flex items-center w-1/2 p-4 mb-4 text-sm text-white rounded-lg bg-white" role="alert">
                                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                        </svg>
                                        <span class="sr-only">Info</span>
                                        <p class="text-center">
                                          {{ 'PRODUCT_DETAILS._no_chars' | translate }}
                                        </p>
                                      </div>
                                    </div>
                              }
                          </div>
                      </div>
                  </div>

                  @if(orgUrl){
                    <hr class="h-px border-black border-1 ">
                    <div class="flex items-center py-8">
                        <button (click)="goToUrl()" class="flex items-center gap-3 bg-primary-100 text-gray-0 uppercase rounded-full py-3 px-5">
                        {{ 'PRODUCT_DETAILS._contact_company' | translate }} {{orgName}}
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_629_170460)">
                            <path d="M8.82757 16.6279L7.74205 15.5423L14.0314 9.25295L0.767657 9.25295L0.767657 7.7172L14.0287 7.71721L7.73998 1.42851L8.8255 0.342993L15.8834 7.40094L15.8841 7.40025L16.9697 8.48577L8.82757 16.6279Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_629_170460">
                            <rect width="12" height="12" fill="white" transform="translate(0 8.48535) rotate(-45)"/>
                            </clipPath>
                            </defs>
                        </svg>

                        </button>
                    </div>
                 }
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
