<div class="flex flex-col gap-4 mt-8">
    <div class="mb-4 flex flex-col md:grid md:grid-cols-2 gap-4">
        <div>
            <label class="font-semibold text-lg ">{{ 'CREATE_OFFER._name' | translate }}</label>
            <label class="mb-2 bg-white text-wrap break-all    border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5">
                {{ productOfferForm.get('generalInfo.name')?.value }}
            </label>

        </div>
       <div>
            <label for="prod-version" class="font-semibold text-lg ">{{ 'CREATE_OFFER._version' | translate }}</label>
            <label class="mb-2 bg-white text-wrap break-all border border-gray-300 text-gray-900    text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5">
                {{ productOfferForm.get('generalInfo.version')?.value }}
            </label>
        </div>
    </div>

  <div class="mb-4">
        <label class="font-semibold text-lg mr-4 ">{{ 'CREATE_OFFER._status' | translate }}</label>
        @if(productOfferForm.get('generalInfo')?.get('status')?.value == 'In design'){
            <div class="w-fit flex gap-1 items-center bg-primary-50/30 text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-primary-50"></span>{{ 'ADMIN._in_design' | translate }}</div>
        }
        @else if(productOfferForm.get('generalInfo')?.get('status')?.value == 'Active'){
            <div class="w-fit flex gap-1 items-center bg-secondary-300/30 text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-secondary-300"></span>{{ 'ADMIN._active' | translate }}</div>
        } @else if(productOfferForm.get('generalInfo')?.get('status')?.value == 'Launched') {
            <div class="w-fit flex gap-1 items-center bg-green/30 text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-green"></span>{{ 'ADMIN._launched' | translate }}</div>
        } @else if(productOfferForm.get('generalInfo')?.get('status')?.value == 'Retired') {
            <div class="w-fit flex gap-1 items-center bg-gray-50/30 text-gray text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-gray-50"></span>{{ 'ADMIN._retired' | translate }}</div>
        } @else if(productOfferForm.get('generalInfo')?.get('status')?.value == 'Obsolete') {
            <div class="w-fit flex gap-1 items-center bg-black/30 text-white text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-white"></span>{{ 'ADMIN._obsolete' | translate }}</div>
        }
    </div>

   @if(productOfferForm.get('generalInfo.description')?.value !=''){
        <label class="font-semibold text-lg ">{{ 'CREATE_OFFER._description' | translate }}</label>
        <div class="px-4 py-2 bg-white rounded-lg p-4 mb-4   border ">
            <markdown class="bg-gray-50   text-gray-900 text-wrap break-all" [data]="productOfferForm.get('generalInfo.description')?.value"></markdown>
        </div>
    }

    @if(productOfferForm.get('catalogue')?.value){
        <label class="font-semibold text-lg ">{{ 'CREATE_OFFER._catalog' | translate }}</label>
        <div class="relative overflow-x-auto rounded-lg w-full bg-white mb-4">
        <table class="px-5 py-3 w-full text-sm text-left rtl:text-right text-primary-100 border border-gray-0">
            <thead class="px-5 py-3 text-base text-primary-100 bg-gray-0">
                <tr>
                    <th scope="col" class="px-5 py-3">
                        {{ 'OFFERINGS._name' | translate }}
                    </th>
                    <th scope="col" class="px-5 py-3">
                        {{ 'OFFERINGS._status' | translate }}
                    </th>
                    <th scope="col" class="px-5 py-3 hidden md:table-cell">
                        {{ 'OFFERINGS._role' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="px-5 py-3 border-b hover:bg-gray-200">
                    <td class="px-5 py-3 text-wrap break-all">
                        {{productOfferForm.get('catalogue')?.value.name}}
                    </td>
                    <td class="px-5 py-3">
                        @if(productOfferForm.get('catalogue')?.value.lifecycleStatus == 'In design' || productOfferForm.get('catalogue')?.value.lifecycleStatus == 'in design'){
                            <div class="w-fit flex gap-1 items-center bg-primary-50/30 text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-primary-50"></span>{{ 'ADMIN._in_design' | translate }}</div>
                        } @else if(productOfferForm.get('catalogue')?.value.lifecycleStatus == 'Active' || productOfferForm.get('catalogue')?.value.lifecycleStatus == 'active') {
                            <div class="w-fit flex gap-1 items-center bg-secondary-300/30 text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-secondary-300"></span>{{ 'ADMIN._active' | translate }}</div>
                        } @else if(productOfferForm.get('catalogue')?.value.lifecycleStatus == 'Launched') {
                            <div class="w-fit flex gap-1 items-center bg-green/30 text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-green"></span>{{ 'ADMIN._launched' | translate }}</div>
                        } @else if(productOfferForm.get('catalogue')?.value.lifecycleStatus == 'suspended') {
                            <div class="w-fit flex gap-1 items-center bg-gray-50/30 text-gray text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-gray-50"></span>{{ 'ADMIN._suspended' | translate }}</div>
                        } @else if(productOfferForm.get('catalogue')?.value.lifecycleStatus == 'terminated') {
                            <div class="w-fit flex gap-1 items-center bg-black/30 text-white text-xs font-medium px-2 py-0.5 rounded-md"><span class="w-1.5 h-1.5 rounded-full bg-white"></span>{{ 'ADMIN._terminated' | translate }}</div>
                        }
                    </td>
                    <td class="px-5 py-3 hidden md:table-cell">
                        {{productOfferForm.get('catalogue')?.value.relatedParty?.at(0)?.role}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }

@if(productOfferForm.get('category')?.value){
    <h2 class="font-semibold text-lg ">{{ 'CREATE_OFFER._category' | translate }}</h2>
    <div class="relative overflow-x-auto rounded-lg w-full bg-white mb-4">
        <table class="px-5 py-3 w-full text-sm text-left rtl:text-right text-primary-100 border border-gray-0">
            <thead class="px-5 py-3 text-base text-primary-100 bg-gray-0">
                <tr>
                    <th scope="col" class="px-5 py-3">
                        {{ 'CREATE_OFFER._name' | translate }}
                    </th>
                    <th scope="col" class="px-5 py-3 hidden md:table-cell">
                        {{ 'CREATE_OFFER._last_update' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (cat of productOfferForm.get('category')?.value; track cat.id) {
                    <tr class="px-5 py-3 border-b hover:bg-gray-200">
                        <td class="px-5 py-3 text-wrap break-all">
                            {{cat.name}}
                        </td>
                        <td class="px-5 py-3 hidden md:table-cell">
                            {{cat.lastUpdate | date:'EEEE, dd/MM/yy, HH:mm'}}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if(productOfferForm.get('pricePlans')?.value){
    <h2 class="font-semibold text-lg ">{{ 'CREATE_OFFER._price_plans' | translate }}</h2>
    <div class="relative overflow-x-auto rounded-lg w-full bg-white mb-4">
        <table class="px-5 py-3 w-full text-sm text-left rtl:text-right text-primary-100 border border-gray-0">
            <thead class="px-5 py-3 text-base text-primary-100 bg-gray-0">
                <tr>
                    <th scope="col" class="px-5 py-3">
                        {{ 'CREATE_OFFER._name' | translate }}
                    </th>
                    <th scope="col" class="px-5 py-3 hidden md:table-cell">
                        {{ 'CREATE_OFFER._description' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (price of productOfferForm.get('pricePlans')?.value; track price.id) {
                    <tr class="px-5 py-3 border-b hover:bg-gray-200">
                        <td class="px-5 py-3 max-w-1/6 text-wrap break-all">
                            {{price.name}}
                        </td>
                        <td class="px-5 py-3 hidden md:table-cell text-wrap break-all">
                            {{price.description}}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<!--
@if(createdSLAs.length>0){
    <h2 class="font-semibold text-lg">{{ 'CREATE_OFFER._sla' | translate }}</h2>
    <div class="relative overflow-x-auto rounded-lg w-full bg-white mb-4">
        <table class="px-5 py-3 w-full text-sm text-left rtl:text-right text-primary-100 border border-gray-0">
            <thead class="px-5 py-3 text-base text-primary-100 bg-gray-0">
                <tr>
                    <th scope="col" class="px-5 py-3">
                        {{ 'CREATE_OFFER._name' | translate }}
                    </th>
                    <th scope="col" class="px-5 py-3 hidden md:table-cell">
                        {{ 'CREATE_OFFER._description' | translate }}
                    </th>
                    <th scope="col" class="px-5 py-3 hidden md:table-cell">
                        {{ 'CREATE_OFFER._threshold' | translate }}
                    </th>
                    <th scope="col" class="px-5 py-3 hidden md:table-cell">
                        {{ 'CREATE_OFFER._unit' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (sla of createdSLAs; track sla) {
                    <tr class="px-5 py-3 border-b hover:bg-gray-200">
                        <td class="px-5 py-3">
                            {{sla.type}}
                        </td>
                        <td class="px-5 py-3 hidden md:table-cell text-wrap break-all">
                            {{sla.description}}
                        </td>
                        <td class="px-5 py-3 hidden md:table-cell">
                            {{sla.threshold}}
                        </td>
                        <td class="px-5 py-3 hidden md:table-cell">
                            {{sla.unitMeasure}}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
-->
@if(!isLicenseEmpty) {
    <h2 class="font-semibold text-lg ">{{ 'CREATE_OFFER._license' | translate }}</h2>
    <div>
        <label for="treatment" class="font-semibold text-base ">{{ 'CREATE_OFFER._treatment' | translate }}</label>
        <label class="mb-2 bg-white text-wrap break-all    border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5">
            {{productOfferForm.get('license')?.get('treatment')?.value}}
        </label>
        @if(productOfferForm.get('license')?.get('description')?.value!==''){
            <label class="font-semibold text-base ">{{ 'CREATE_OFFER._description' | translate }}</label>
            <div class="px-4 py-2 bg-gray-50  border border-gray-300   rounded-lg p-4">
                <markdown class="bg-gray-50   text-gray-900 text-wrap break-all" [data]="productOfferForm.get('license')?.get('description')?.value"></markdown>
            </div>
        }
    </div>
}
</div>
