
<div class="flex flex-col gap-6">
  <h2 class="font-normal text-xl text-primary-100">{{ 'CREATE_CATEGORIES._new' | translate }}</h2>
  <div class="bg-white/60 p-4 rounded-lg">
    <div class="overflow-x-auto">
        <ol class="max-w-[320px] mx-auto flex items-start justify-center gap-[25px] md:gap-[50px] w-max md:w-full text-sm font-medium text-center mt-4 md:mt-8 border-b border-gray-0 pb-4 md:pb-6">
            @for (step of stepNavigation; track step.id; let i = $index) {
                <li
                  (click)="handleStepClick(step)"
                  class="relative flex flex-row md:flex-col md:items-center gap-2 mr-9 md:mr-0 min-w-[70px] md:min-w-[140px]"
                  [class.text-primary-100]="isCurrentStep(step.id)"
                  [class.cursor-not-allowed]="isStepDisabled(step)"
                  [class.opacity-50]="isStepDisabled(step) && !isCurrentStep(step.id)">
                    <div class="md:relative flex items-center justify-center w-full">
                        <span class="flex items-center justify-center cursor-pointer w-4 h-4 md:w-10 md:h-10 border text-[10px] md:text-base text-white shrink-0 rounded-full"
                              [class.bg-primary-100]="isCurrentStep(step.id)"
                              [class.text-white]="isCurrentStep(step.id)"
                              [class.cursor-not-allowed]="isStepDisabled(step)"
                              [class.opacity-50]="isStepDisabled(step) && !isCurrentStep(step.id)"
                              [ngClass]="{ 'bg-green border-green': isStepComplete(i), 'border-primary-100 bg-primary-100': !isStepComplete(i) }">
                            {{ i + 1 }}
                        </span>
                        @if(i < stepNavigation.length - 1){
                            <span class="absolute -right-[42px] md:right-[-50px] w-5 md:w-[50px] h-px md:ml-4 bg-black"></span>
                        }
                    </div>
                    <span
                      class="text-sm whitespace-nowrap cursor-pointer"
                      [class.cursor-not-allowed]="isStepDisabled(step)"
                      [class.opacity-50]="isStepDisabled(step) && !isCurrentStep(step.id)">
                        {{ step.labelKey | translate }}
                    </span>
                </li>
            }
        </ol>
    </div>
    <hr class="h-px bg-gray-0 border-0">
    <div class="mt-8">
            @if(showGeneral){
                    <form [formGroup]="generalForm" class="flex flex-col gap-4 ">
                      <div class="flex flex-col gap-2.5">
                        <label for="prod-name" class="font-semibold text-base ">{{ 'CREATE_CATEGORIES._name' | translate }}</label>
                        <input formControlName="name" type="text" id="prod-name" maxLength="100"
                        [ngClass]="generalForm.get('name')?.invalid && generalForm.value.name!='' ? 'border-red-600' : (generalForm.value.name ? 'border-primary-100' : 'border-gray-300')"
                        class="mb-2 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-100 focus:border-primary-100 block w-full md:w-1/2 p-2.5 leading-[1.75]" />
                      </div>
                      <div class="flex flex-col gap-2.5">
                        <label for="prod-name" class="font-semibold text-base ">{{ 'CREATE_CATEGORIES._description' | translate }}</label>
                        <app-markdown-textarea formControlName="description"></app-markdown-textarea>
                      </div>
                        <label class="font-semibold text-base ">{{ 'CREATE_CATEGORIES._choose_parent' | translate }}</label>
                        <label class="inline-flex items-center me-5 cursor-pointer ml-4">
                            <input type="checkbox" (change)="toggleParent()" [checked]="parentSelectionCheck" class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-400  rounded-full peer peer-focus:ring-4 peer-focus:ring-primary-100 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary-100"></div>
                        </label>
                        @if(parentSelectionCheck){
                            @if(categories.length==0){
                                <div class="flex justify-center w-full m-4">
                                    <div class="flex w-full items-center p-4 text-sm text-primary-100 rounded-lg bg-purple-50  " role="alert">
                                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                        </svg>
                                        <div>
                                            {{ 'OFFERINGS._no_categories' | translate }}
                                        </div>
                                    </div>
                                </div>
                            }@else{
                            <div class="bg-white relative overflow-x-auto rounded-lg w-full mt-4">
                            <table class="px-5 py-3 w-full text-sm text-left rtl:text-right text-primary-100 border border-gray-0">
                                <thead class="px-5 py-3 text-base text-primary-100 bg-gray-0">
                                    <tr class="px-5 py-3 flex w-full justify-between">
                                        <th scope="col" class="px-5 py-3 flex w-3/5">
                                            {{ 'CREATE_OFFER._name' | translate }}
                                        </th>
                                        <th scope="col" class="px-5 py-3 hidden md:flex w-fit">
                                            {{ 'CREATE_OFFER._last_update' | translate }}
                                        </th>
                                        <th scope="col" class="px-5 py-3 flex w-fit">
                                            {{ 'CREATE_OFFER._select' | translate }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (cat of categories; track cat.id;let idx = $index) {
                                        <tr class="px-5 py-3 flex border-b hover:bg-gray-200 w-full justify-between">
                                            <td class="px-5 py-3 flex w-3/5 text-wrap break-all">
                                                <b>{{cat.name}}</b>
                                            </td>
                                            <td class="px-5 py-3 hidden md:flex w-fit">
                                                {{cat.lastUpdate | date:'EEEE, dd/MM/yy, HH:mm'}}
                                            </td>
                                            <td class="px-5 py-3 flex w-fit justify-end">
                                                <input id="select-checkbox" [checked]="isCategorySelected(cat)" type="checkbox" value="" (click)="addCategory(cat)" class="flex w-4 h-4 justify-end text-purple-600 bg-gray-100 border-gray-300 rounded focus:ring-purple-500   focus:ring-2  ">
                                            </td>
                                        </tr>
                                        @if(cat.children.length>0){
                                            @for(child of cat.children; track child){
                                                <tr>
                                                    <td colspan=3>
                                                    <categories-recursion class="w-full" [child]="child" [parent]="cat" [selected]="selected" [path]="cat.name"></categories-recursion>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            </div>
                            }
                        }

                    </form>
            }

            @if(showSummary){
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2.5">
                        <label class="font-semibold text-base ">{{ 'CREATE_CATEGORIES._name' | translate }}</label>
                        <label class="mb-2 bg-gray-0 text-wrap break-all text-gray-900 text-sm rounded-lg focus:ring-primary-100 focus:border-primary-100 block w-full p-2.5">
                            {{categoryToCreate?.name}}
                        </label>
                    </div>

                    <div class="flex flex-col gap-2.5">
                        <label class="font-semibold text-base mr-4 ">{{ 'CREATE_CATEGORIES._status' | translate }}</label>
                        <app-status-selector [modelType]="'category'" [statuses]="catStatusAsArray" [anchor]="catStatusAsArray[0]" [ngModel]="categoryToCreate?.lifecycleStatus" [ngModelOptions]="{ standalone: true }"></app-status-selector>
                    </div>

                    @if(categoryToCreate?.description !=''){
                      <div class="flex flex-col gap-2.5">
                        <label class="font-semibold text-base ">{{ 'CREATE_CATEGORIES._description' | translate }}</label>
                        <div class="px-4 py-2 bg-gray-0 rounded-lg p-4 mb-4">
                            <markdown class="bg-gray-50   text-gray-900 text-wrap break-all" [data]="categoryToCreate?.description"></markdown>
                        </div>
                      </div>
                    }

                    @if(isParent==false){
                        <label class="font-semibold text-base ">{{ 'CREATE_CATEGORIES._parent' | translate }}</label>
                        <div class="px-4 py-2 bg-gray-0 rounded-lg p-4 mb-4">
                            <label class="text-base  text-wrap break-all">{{selectedCategory.name}}</label>
                        </div>
                    }
                </div>
            }

    </div>
  </div>

  <div class="flex w-full justify-items-end justify-end">
      @if(showSummary){
        <button type="button" (click)="createCategory();" class="flex gap-2 text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-primary-100 font-medium rounded-full text-base px-5 py-2.5 text-center items-center">
            {{ 'CREATE_CATEGORIES._create' | translate }}
            <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.27536 5.3211L0.216483 9.37972C0.0786384 9.51773 0.00805503 9.6912 0.00473343 9.90013C0.0015779 10.1089 0.0721612 10.2855 0.216483 10.43C0.360971 10.5743 0.536018 10.6465 0.741623 10.6465C0.947228 10.6465 1.12227 10.5743 1.26676 10.43L5.74515 5.95161C5.83832 5.85828 5.90409 5.75988 5.94245 5.65641C5.98082 5.55294 6 5.44117 6 5.3211C6 5.20102 5.98082 5.08925 5.94245 4.98579C5.90409 4.88232 5.83832 4.78392 5.74515 4.69058L1.26676 0.212192C1.12875 0.0743467 0.955285 0.00376337 0.746358 0.000442635C0.537597 -0.00271311 0.360973 0.0678692 0.216485 0.212192C0.0721629 0.35668 1.76852e-06 0.531727 1.73257e-06 0.737332C1.69662e-06 0.942937 0.0721628 1.11798 0.216485 1.26247L4.27536 5.3211Z" fill="white"/>
            </svg>
        </button>
      } @else {
        <button type="button" (click)="showFinish();generalDone=true;" [disabled]="!generalForm.valid || (parentSelectionCheck == true && selectedCategory==undefined)" [ngClass]="!generalForm.valid || (parentSelectionCheck == true && selectedCategory==undefined) ? 'opacity-50' : 'hover:bg-primary-50'" class="flex gap-2 text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-primary-100 font-medium rounded-full text-base px-5 py-2.5 text-center items-center">
          {{ 'CREATE_CATEGORIES._next' | translate }}
          <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.27536 5.3211L0.216483 9.37972C0.0786384 9.51773 0.00805503 9.6912 0.00473343 9.90013C0.0015779 10.1089 0.0721612 10.2855 0.216483 10.43C0.360971 10.5743 0.536018 10.6465 0.741623 10.6465C0.947228 10.6465 1.12227 10.5743 1.26676 10.43L5.74515 5.95161C5.83832 5.85828 5.90409 5.75988 5.94245 5.65641C5.98082 5.55294 6 5.44117 6 5.3211C6 5.20102 5.98082 5.08925 5.94245 4.98579C5.90409 4.88232 5.83832 4.78392 5.74515 4.69058L1.26676 0.212192C1.12875 0.0743467 0.955285 0.00376337 0.746358 0.000442635C0.537597 -0.00271311 0.360973 0.0678692 0.216485 0.212192C0.0721629 0.35668 1.76852e-06 0.531727 1.73257e-06 0.737332C1.69662e-06 0.942937 0.0721628 1.11798 0.216485 1.26247L4.27536 5.3211Z" fill="white"/>
          </svg>
        </button>
      }
  </div>

</div>

@if(showError){
  <div class="overlay fixed inset-0 w-full h-screen bg-black/80 z-40" (click)="showError = false"></div>
    <error-message class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50" [message]="errorMessage" (close)="showError = false"></error-message>
}
