<div>
    <!-- Breadcrumb -->
    <div class="pb-4">
        <div class="flex flex-wrap items-center gap-2">
            <button (click)="goBack()" aria-label="Breadcrumb"
                class="flex items-center gap-2 text-xs text-white bg-primary-100 py-0.5 px-2 rounded-lg">
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_299_20420)">
                        <path
                            d="M0.000426107 6.02887L0.578403 6.60685L0.579784 6.60547L4.33491 10.3606L4.91219 9.7833L1.56656 6.43767L8.62105 6.43767L8.62105 5.62007L1.56518 5.62008L4.91081 2.27444L4.33284 1.69646L0.000426107 6.02887Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_299_20420">
                            <rect width="8.52661" height="8.52661" fill="white"
                                transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 12.0586 6.0293)" />
                        </clipPath>
                    </defs>
                </svg>
                {{ 'CREATE_CATALOG._back' | translate }}
            </button>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <div class="bg-white mt-4 p-8 rounded-lg">
        <h2 class="text-3xl font-bold text-primary-100 ml-4">{{ 'CREATE_CATALOG._new' | translate }}</h2>
        <hr class="h-px m-4 bg-gray-300 border-0">
        <div class="md:grid md:grid-cols-25/75 xl:grid-cols-20/80">
            <div class="flex sm:flex-row md:flex-col md:mr-4 overflow-x-auto max-w-[calc(100vw-5rem)]">
                <h2 class="text-xl hidden md:block font-bold text-black mb-4">{{ 'CREATE_CATALOG._steps' | translate }}
                </h2>
                <button id="general-info" (click)="toggleGeneral()" [disabled]="!generalDone"
                    class="grid sm:grid-rows-2 md:grid-rows-1 md:grid-cols-25/75 xl:grid-cols-20/80 mb-2 mr-2 md:mr-0 text-primary-100 justify-items-center md:justify-items-start">
                    <span id="general-circle"
                        class="flex items-center justify-center w-6 h-6 md:w-8 md:h-8 border border-2 border-primary-100 rounded-full shrink-0">
                        1
                    </span>
                    <span>
                        <h3 class="flex sm:text-center md:text-start">{{ 'UPDATE_CATALOG._general' | translate }}</h3>
                        <p class="hidden xl:flex text-xs sm:text-center md:text-start">{{ 'UPDATE_CATALOG._general_info'
                            | translate }}</p>
                    </span>
                </button>
                <hr class="h-px mb-2 bg-gray-300 border-0">
                <button id="summary" [disabled]="!finishDone || generalForm.invalid" (click)="showFinish()"
                    class="grid sm:grid-rows-2 md:grid-rows-1 md:grid-cols-25/75 xl:grid-cols-20/80 mb-2 mr-2 md:mr-0 text-gray-500 justify-items-center md:justify-items-start">
                    <span id="summary-circle"
                        class="flex items-center justify-center w-6 h-6 md:w-8 md:h-8 border border-2 border-gray-400 rounded-full shrink-0">
                        2
                    </span>
                    <span>
                        <h3 class="flex justify-start">{{ 'UPDATE_CATALOG._finish' | translate }}</h3>
                        <p class="hidden xl:flex text-xs justify-start text-start">{{ 'UPDATE_CATALOG._summary' |
                            translate }}</p>
                    </span>
                </button>
            </div>
            <div>
                @if(showGeneral){
                <h2 class="text-3xl font-bold text-primary-100 ml-4">{{ 'CREATE_CATALOG._general' | translate }}</h2>
                <form class="m-4 gap-4" [formGroup]="generalForm">
                    <label for="prod-name" class="font-bold text-lg">{{ 'CREATE_CATALOG._name' | translate }}</label>
                    <input data-cy="catalogName" formControlName="name" type="text" id="prod-name" maxLength="100"
                        [ngClass]="generalForm.get('name')?.invalid == true && generalForm.value.name!='' ? 'border-red-600' : 'border-gray-300'"
                        class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-black focus:border-black block w-full p-2.5" />


                    <label class="font-bold text-lg col-span-2">{{ 'CREATE_CATALOG._description' | translate }}</label>
                    <app-markdown-textarea data-cy=catalogDsc formControlName="description"></app-markdown-textarea>

                </form>
                <div class="flex w-full justify-items-end justify-end">
                    <button data-cy="catalogNext" type="button" (click)="showFinish();generalDone=true;"
                        [disabled]="!generalForm.valid"
                        [ngClass]="!generalForm.valid ? 'opacity-50' : 'hover:bg-primary-50'"
                        class="flex text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                        {{ 'CREATE_CATALOG._next' | translate }}
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </button>
                </div>
                }

                @if(showSummary){
                <h2 class="text-3xl font-bold text-primary-100 ml-4">{{ 'CREATE_CATALOG._finish' | translate }}</h2>
                <div class="m-8">
                    <div>
                        <label class="font-bold text-lg">{{ 'CREATE_CATALOG._name' | translate }}</label>
                        <label
                            class="mb-2 bg-gray-50 text-wrap break-all border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-black focus:border-black block w-full p-2.5">
                            {{catalogToCreate?.name}}
                        </label>
                    </div>

                    <div class="mb-4">
                        <label class="font-bold text-lg mr-4">{{ 'CREATE_CATALOG._status' | translate }}</label>
                        @if(catalogToCreate?.lifecycleStatus == 'Active'){
                        <span
                            class="bg-primary-50/30 text-primary-100 text-xs font-medium me-2 px-2.5 py-0.5 rounded">{{
                            'ADMIN._active' | translate }}</span>
                        } @else if(catalogToCreate?.lifecycleStatus == 'Launched') {
                        <span class="bg-green text-primary-100 text-xs font-medium me-2 px-2.5 py-0.5 rounded">{{
                            'ADMIN._launched' | translate }}</span>
                        } @else if(catalogToCreate?.lifecycleStatus == 'Retired') {
                        <span class="bg-yellow-500 text-primary-100 text-xs font-medium me-2 px-2.5 py-0.5 rounded">{{
                            'ADMIN._retired' | translate }}</span>
                        } @else if(catalogToCreate?.lifecycleStatus == 'Obsolete') {
                        <span class="bg-red-500 text-primary-100 text-xs font-medium me-2 px-2.5 py-0.5 rounded">{{
                            'ADMIN._obsolete' | translate }}</span>
                        }
                    </div>

                    @if(catalogToCreate?.description !=''){
                    <label class="font-bold text-lg">{{ 'CREATE_CATALOG._description' | translate }}</label>
                    <div class="px-4 py-2 bg-white rounded-lg p-4 mb-2 bg-gray-50 border border-gray-300 text-gray-900">
                        <markdown class="bg-gray-50 text-wrap break-all text-gray-900"
                            [data]="catalogToCreate?.description"></markdown>
                    </div>
                    }


                    <div class="flex w-full justify-items-end justify-end ml-4">
                        <button data-cy="catalogFinish" type="button" (click)="createCatalog();"
                            class="flex text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                            {{ 'CREATE_CATALOG._create' | translate }}
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                        </button>
                    </div>

                </div>
                }
            </div>
        </div>
    </div>

</div>

@if(showError){
<error-message
    class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
    [message]="errorMessage"></error-message>
}
