<div class="w-full px-8 pt-2 pb-8">
  <div id="dropdown-nav-content" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg w-44 ">
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdown-nav">
      <li>
        <a (click)="getProfile()" class="cursor-pointer block px-4 py-2 hover:bg-gray-100 ">
          {{ 'PROFILE._general' | translate }}
        </a>
      </li>
      <!--
        <li>
          <a (click)="getBilling()" class="cursor-pointer block px-4 py-2 hover:bg-gray-100 ">
            {{ 'PROFILE._bill' | translate }}
          </a>
        </li>
      }-->
    </ul>
  </div>

  <div class="w-full grid lg:grid-cols-20/80 gap-6">
    <div class="hidden lg:block">
      <private-area-menu [loggedAsUser]="loggedAsUser" [active]="activeTab" (select)="onMenuSelect($event)">
      </private-area-menu>
    </div>

    <div class="flex flex-col">
      <div class="py-16">
        <h1 class="text-7xl font-semibold font-heading">{{ 'PROFILE._profile' | translate }}</h1>
      </div>

      <!-- Título + botón de menú móvil -->
      <div class="flex flex-cols mr-2 ml-2 lg:hidden">
        <h1 class="mb-8 mt-4 text-7xl font-semibold font-heading ">{{ 'PROFILE._profile' | translate }}</h1>
        <div class="flex align-middle content-center items-center">
          <button id="dropdown-nav" data-dropdown-toggle="dropdown-nav-content"
            class="text-black h-fit w-fit justify-between bg-white hover:bg-gray-100 focus:ring-1 focus:outline-none focus:ring-primary-100 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center"
            type="button">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15" />
            </svg>
            Profile
          </button>
        </div>
      </div>

      <div>
        @if (show_profile) { <user-info></user-info> }
        @if (show_org_profile) { <org-info></org-info> }
        @if (show_orders) { <order-info></order-info> }
        @if (show_billing) { <billing-info></billing-info> }
        @if (show_revenue) { <provider-revenue-sharing></provider-revenue-sharing> }
      </div>
    </div>
  </div>
</div>
