<div class="fixed inset-0 w-full h-dvh bg-black/90 z-99 flex items-center justify-center">
  <div id="alert-additional-content-2" class="w-full max-w-[400px] flex flex-col justify-between items-center gap-8 text-center bg-white px-5 py-10 rounded-lg" role="alert">
      <div class="flex flex-col">
        <div class="font-bold text-sm">
          {{ 'REMINDER._isbe' | translate }}
        </div>
        <div class=" text-sm">
          {{ 'REMINDER._isbe_publish' | translate }}
        </div>
      </div>
      <button type="button" (click)="closeMessage()" class="w-fit px-4 py-2 flex items-center gap-2 bg-primary-100/15 text-primary-100 rounded-full">
        {{ 'CARD._agree' | translate }}
      </button>
  </div>
</div>