<div class="flex flex-col gap-6">
    <h2 class="font-normal text-xl lg:text-2xl text-primary-100">{{ 'ADMIN._verification' | translate }}</h2>
    <div class="bg-white/60 p-4 rounded-lg">
        <hr class="h-px m-4 bg-gray-300  border-0">

        <div class="md:grid">
            <div>
                <form class=" gap-4" [formGroup]="verificationForm">
                    <label for="verif-id" class="font-semibold text-lg ">{{ 'ADMIN._productId' | translate }}</label>
                    <input formControlName="productId" type="text" id="verif-id"
                            [ngClass]="verificationForm.get('productId')?.invalid == true && verificationForm.value.productId != '' ? 'border-red-600' : 'border-gray-300'"
                            class="mb-2 bg-white  border border-gray-0   text-gray-100 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5" />

                    <label for="vc" class="font-semibold text-lg ">{{ 'ADMIN._vc' | translate }}</label>
                    <textarea formControlName="vc" rows="8" class="block w-full min-h-fit px-0 text-sm text-gray-800  bg-white  border-0" placeholder="Add credential..." ></textarea>
                </form>

                <div class="flex w-full justify-items-end justify-end ml-4">
                    <button type="button" (click)="verifyCredential();" class="flex text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-primary-100 font-medium rounded-full text-sm px-5 py-2.5 text-center items-center">
                        {{ 'ADMIN._add' | translate }}
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@if(showError){
    <error-message class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50" [message]="errorMessage"></error-message>
}
