<div>
    <!-- Breadcrumb -->
    <div class="pb-4">
        <div class="flex flex-wrap items-center gap-2">
            <button (click)="goBack()" aria-label="Breadcrumb"
                class="flex items-center gap-2 text-xs text-white bg-primary-100 py-0.5 px-2 rounded-lg">
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_299_20420)">
                        <path
                            d="M0.000426107 6.02887L0.578403 6.60685L0.579784 6.60547L4.33491 10.3606L4.91219 9.7833L1.56656 6.43767L8.62105 6.43767L8.62105 5.62007L1.56518 5.62008L4.91081 2.27444L4.33284 1.69646L0.000426107 6.02887Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_299_20420">
                            <rect width="8.52661" height="8.52661" fill="white"
                                transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 12.0586 6.0293)" />
                        </clipPath>
                    </defs>
                </svg>
                {{ 'CREATE_CATEGORIES._back' | translate }}
            </button>
        </div>
    </div>
    <!-- End Breadcrumb -->


    <div class="bg-white mt-4 p-8 rounded-lg">
        <h2 class="text-3xl font-bold text-primary-100 ml-4">{{ 'ADMIN._verification' | translate }}</h2>
        <hr class="h-px m-4 bg-gray-300 border-0">

        <div class="md:grid">
            <div>
                <form class="m-4 gap-4" [formGroup]="verificationForm">
                    <label for="verif-id" class="font-bold text-lg">{{ 'ADMIN._productId' | translate }}</label>
                    <input formControlName="productId" type="text" id="verif-id"
                        [ngClass]="verificationForm.get('productId')?.invalid == true && verificationForm.value.productId != '' ? 'border-red-600' : 'border-gray-300'"
                        class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-black focus:border-black block w-full p-2.5" />

                    <label for="vc" class="font-bold text-lg">{{ 'ADMIN._vc' | translate }}</label>
                    <textarea formControlName="vc" rows="8"
                        class="block w-full min-h-fit px-0 text-sm text-gray-800 bg-white border-0"
                        placeholder="Add credential..."></textarea>
                </form>

                <div class="flex w-full justify-items-end justify-end ml-4">
                    <button type="button" (click)="verifyCredential();"
                        class="flex text-white justify-end bg-primary-100 focus:ring-4 focus:outline-none font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center">
                        {{ 'ADMIN._add' | translate }}
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@if(showError){
<error-message
    class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
    [message]="errorMessage"></error-message>
}
