<div class="flex flex-col gap-6">
    <h2 class="font-normal text-xl text-primary-100">{{ 'ADMIN._verification' | translate }}</h2>
    <div class="bg-white/60 p-4 rounded-lg">
        <hr class="h-px m-4 bg-gray-300  border-0">

        <div class="md:grid">
            <div>
                <form class=" gap-2" [formGroup]="verificationForm">
                    <label for="verif-id" class="font-semibold text-lg ">{{ 'ADMIN._productId' | translate }}</label>
                    <input formControlName="productId" type="text" id="verif-id"
                            [ngClass]="verificationForm.get('productId')?.invalid == true && verificationForm.value.productId != '' ? 'border-red-600' : 'border-gray-300'"
                            class="mb-2 bg-white  border border-gray-0   text-gray-100 text-sm rounded-lg focus:ring-primary-100 focus:border-primary-100 block w-full p-2.5 leading-[1.75]" />

                    <label for="vc" class="font-semibold text-lg ">{{ 'ADMIN._vc' | translate }}</label>
                    <textarea formControlName="vc" rows="8" class="block w-full min-h-fit px-0 text-sm text-gray-800  bg-white  border-0" placeholder="Add credential..." ></textarea>
                </form>

                <div class="flex w-full justify-items-end justify-end ml-4">
                    <button type="button" (click)="verifyCredential();" class="flex gap-2 text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-primary-100 font-medium rounded-full text-base px-5 py-2.5 text-center items-center">
                        {{ 'ADMIN._add' | translate }}
                        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.27536 5.3211L0.216483 9.37972C0.0786384 9.51773 0.00805503 9.6912 0.00473343 9.90013C0.0015779 10.1089 0.0721612 10.2855 0.216483 10.43C0.360971 10.5743 0.536018 10.6465 0.741623 10.6465C0.947228 10.6465 1.12227 10.5743 1.26676 10.43L5.74515 5.95161C5.83832 5.85828 5.90409 5.75988 5.94245 5.65641C5.98082 5.55294 6 5.44117 6 5.3211C6 5.20102 5.98082 5.08925 5.94245 4.98579C5.90409 4.88232 5.83832 4.78392 5.74515 4.69058L1.26676 0.212192C1.12875 0.0743467 0.955285 0.00376337 0.746358 0.000442635C0.537597 -0.00271311 0.360973 0.0678692 0.216485 0.212192C0.0721629 0.35668 1.76852e-06 0.531727 1.73257e-06 0.737332C1.69662e-06 0.942937 0.0721628 1.11798 0.216485 1.26247L4.27536 5.3211Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@if(showError){
  <div class="overlay fixed inset-0 w-full h-screen bg-black/80 z-40" (click)="showError = false"></div>
    <error-message class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50" [message]="errorMessage" (close)="showError = false"></error-message>
}
