@if (loading) { <div role="status" class="w-3/4 md:w-4/5 h-full flex justify-center align-middle"> <svg
    aria-hidden="true" class="w-12 h-12 text-gray-200 animate-spin fill-purple-600" viewBox="0 0 100 101" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
      fill="currentColor" />
    <path
      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
      fill="currentFill" />
  </svg> <span class="sr-only">Loading...</span> </div>
} @else { <div class="bg-white p-8 rounded-lg">
  <h2 class="md:text-3xl lg:text-4xl font-bold text-primary-100 ml-4 m-4">{{ 'PROFILE._mybills' | translate }}</h2>
  <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
  <div class="m-4 relative overflow-x-auto sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-primary-100">
      <thead class="text-primary-100 bg-green">
        <tr>
          <th scope="col" class="px-6 py-3"> {{ 'BILLING._title' | translate }} </th>
          <th scope="col" class="px-6 py-3"> {{ 'BILLING._email' | translate }} </th>
          <th scope="col" class="px-6 py-3"> {{ 'BILLING._postalAddress' | translate }} </th>
          <th scope="col" class="px-6 py-3"> {{ 'BILLING._phone' | translate }} </th>
          <th scope="col" class="px-6 py-3"> {{ 'BILLING._action' | translate }} </th>
        </tr>
      </thead>
      <tbody> @for (bill of billing_accounts; track bill.id) { <tr (click)="selectBill(bill)" class="border-b"
          [ngClass]="bill.selected == true ? 'bg-primary-30' : 'bg-white'">
          <td class="px-6 py-4 text-wrap break-all"> {{bill.name}} </td>
          <td class="px-6 py-4 text-wrap break-all"> {{bill.email}} </td>
          <td class="px-6 py-4 text-wrap break-all"> {{bill.postalAddress.street}}, {{bill.postalAddress.postCode}}
            ({{bill.postalAddress.city}}) {{bill.postalAddress.stateOrProvince}}, {{bill.postalAddress.country}} </td>
          <td class="px-6 py-4"> ({{bill.telephoneType}}) {{bill.telephoneNumber}} </td>
          <td class="px-6 py-4 inline-flex"> <button (click)="toggleEditBill(bill);$event.stopPropagation();"
              type="button"
              class="text-white bg-primary-100 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-full text-sm p-1 lg:p-2.5 text-center inline-flex items-center me-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5 19H6.2615L16.498 8.7635L15.2365 7.502L5 17.7385V19ZM4.404 20.5C4.14783 20.5 3.93317 20.4133 3.76 20.24C3.58667 20.0668 3.5 19.8522 3.5 19.596V17.8635C3.5 17.6197 3.54683 17.3873 3.6405 17.1663C3.734 16.9453 3.86283 16.7527 4.027 16.5885L16.6905 3.93075C16.8417 3.79342 17.0086 3.68733 17.1913 3.6125C17.3741 3.5375 17.5658 3.5 17.7663 3.5C17.9668 3.5 18.1609 3.53558 18.3488 3.60675C18.5368 3.67792 18.7032 3.79108 18.848 3.94625L20.0693 5.18275C20.2244 5.32758 20.335 5.49425 20.401 5.68275C20.467 5.87125 20.5 6.05975 20.5 6.24825C20.5 6.44942 20.4657 6.64133 20.397 6.824C20.3283 7.00683 20.2191 7.17383 20.0693 7.325L7.4115 19.973C7.24733 20.1372 7.05475 20.266 6.83375 20.3595C6.61275 20.4532 6.38033 20.5 6.1365 20.5H4.404ZM15.8562 8.14375L15.2365 7.502L16.498 8.7635L15.8562 8.14375Z"
                  fill="#666666" fill-opacity="0.6" />
              </svg>
            </button>
            <!--<button (click)="toggleDeleteBill(bill);$event.stopPropagation();" type="button" class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-full text-sm p-1 lg:p-2.5 text-center inline-flex items-center me-2"> <svg class="w-[18px] h-[18px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"> <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/> </svg> </button>-->
          </td>
        </tr> } @empty { <div class="flex justify-center w-full m-4">
          <div class="flex w-full items-center p-4 text-sm text-primary-100 rounded-lg bg-purple-50" role="alert"> <svg
              class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <div> {{ 'BILLING._no_billing' | translate }} </div>
          </div>
        </div> } </tbody>
    </table>
  </div>
  <h2 class="md:text-3xl lg:text-4xl font-bold text-primary-100 ml-4 m-4">{{ 'BILLING._add' | translate }}</h2>
  <hr class="h-px mr-4 ml-4 bg-primary-100 border-0"> <app-billing-account-form
    [preferred]="preferred"></app-billing-account-form>
</div>
} <!-- BILL ADDRESS EDIT modal -->
@if (editBill){ <div id="edit-bill-modal" [ngClass]="editBill ? 'backdrop-blur-sm' : ''" tabindex="-1"
  aria-hidden="true" class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto p-4">
  <div class="w-full max-w-2xl relative bg-white rounded-lg bg-cover bg-right-bottom"
    (click)="$event.stopPropagation();"> <!-- Modal header -->
    <div class="flex items-center justify-between p-4 border-b">
      <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-primary-100"> {{ 'BILLING._edit' | translate }} </h2>
      <button (click)="editBill=false;" type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center">
        <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg> <span class="sr-only">{{ 'CARD._close' | translate }}</span> </button>
    </div> <!-- Modal body -->
    <div class="p-4 max-h-[80vh] overflow-y-auto"> <app-billing-account-form
        [billAcc]="billToUpdate"></app-billing-account-form> </div>
  </div>
</div> } <!-- BILL ADDRESS DELETE modal -->
@if (deleteBill){ <div id="delete-bill-modal" [ngClass]="deleteBill ? 'backdrop-blur-sm': ''" tabindex="-1"
  aria-hidden="true"
  class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full ">
  <div class="relative p-4 w-full max-w-md h-full md:h-auto" (click)="$event.stopPropagation();"> <!-- Modal content -->
    <div class="relative p-4 text-center bg-white rounded-lg sm:p-5"> <button type="button"
        (click)="deleteBill=false;$event.stopPropagation();"
        class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg> <span class="sr-only">Close modal</span> </button> <svg class="text-gray-400 w-12 h-12 mb-3.5 mx-auto"
        aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
          clip-rule="evenodd"></path>
      </svg>
      <p class="mb-4 text-gray-500">{{ 'BILLING._confirm_delete' | translate }}</p>
      <p class="mb-4 text-gray-500 text-wrap break-all"><b>{{billToDelete.name}}</b>:
        {{billToDelete.postalAddress.street}}, {{billToDelete.postalAddress.city}},
        {{billToDelete.postalAddress.country}}.</p>
      <div class="flex justify-center items-center space-x-4"> <button
          (click)="deleteBill=false;$event.stopPropagation();" type="button"
          class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10">
          {{ 'BILLING._cancel' | translate }} </button> <button (click)="onDeletedBill(billToDelete)" type="submit"
          class="py-2 px-3 text-sm font-medium text-center text-white bg-red-800 hover:bg-red-900 rounded-lg focus:ring-4 focus:outline-none focus:ring-red-300">
          {{ 'BILLING._delete' | translate }} </button> </div>
    </div>
  </div>
</div> }
@if(showError){ <error-message
  class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
  [message]="errorMessage"></error-message>
}
