<div class="relative w-full flex flex-col md:px-8 pb-8 overflow-hidden">

  <div class="px-8 md:px-0 py-8 md:py-16 max-w-5xl">
    <!-- breadcrumbs -->
    <button aria-label="Breadcrumb" (click)="goTo('/dashboard')"
      class="flex items-center gap-2 text-xs text-white bg-primary-100 py-0.5 px-2 rounded-lg">
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_299_20420)">
          <path
            d="M0.000426107 6.02887L0.578403 6.60685L0.579784 6.60547L4.33491 10.3606L4.91219 9.7833L1.56656 6.43767L8.62105 6.43767L8.62105 5.62007L1.56518 5.62008L4.91081 2.27444L4.33284 1.69646L0.000426107 6.02887Z"
            fill="white" />
        </g>
        <defs>
          <clipPath id="clip0_299_20420">
            <rect width="8.52661" height="8.52661" fill="white"
              transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 12.0586 6.0293)" />
          </clipPath>
        </defs>
      </svg>
      Vuelve al Catálogo de Servicios Comerciales
    </button>

    <!-- title -->
    <h1 class="text-4xl md:text-7xl font-semibold font-heading my-8">Catálogo de Servicios Comerciales de ISBE</h1>
    <p class="text-base md:text-xl">El punto de encuentro entre las soluciones desplegadas en ISBE.</p>
  </div>

  <div class="flex flex-col px-8 md:px-0 pb-8">
    <div class="flex relative ">
      <div class="absolute top-0 left-0 hidden md:flex flex-col gap-2 opacity-0">
        <span
          class="block border-black border-l-2 py-4 px-2  uppercase text-xxs font-semibold font-heading">Lorem</span>
        <span class="block border-black/50 border-l-2 p-2"></span>
        <span class="block border-black/50 border-l-2 p-2"></span>
      </div>

      <div class="flex justify-end container mx-auto md:px-16">
        <div class="md:w-2/3 flex flex-col gap-8">

          <!-- Small Banner -->
          <div class="w-full flex flex-col gap-7 py-6 px-7 banner__background_gradient rounded-3xl">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Próximamente</h2>
            <div class="flex justify-between items-end gap-7">
              <div class="flex">
                <svg width="99" height="36" viewBox="0 0 99 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M74.0541 35.1831L88.1748 21.0624H56.4922V14.1207H88.1748L74.0541 0H82.7757L98.3204 15.604V19.5791L82.7757 35.1831H74.0541Z" fill="black"/>
                <path d="M17.5619 35.1831L31.6826 21.0624H0V14.1207H31.6826L17.5619 0H26.2835L41.8282 15.604V19.5791L26.2835 35.1831H17.5619Z" fill="black"/>
                </svg>
              </div>

              <p class="font-normal text-xl">Estamos trabajando para ofrecerte un espacio donde dar visibilidad a tus servicios blockchain 
                  y compartir desarrollos y soluciones.</p>
            </div>
          </div>

          <h2 class="font-heading font-semibold text-2xl md:text-3xl">¿Qué es y para qué sirve este catálogo?</h2>

          <p>El Catálogo de Servicios Comerciales es un espacio donde empresas y administraciones pueden publicar, descubrir y conectar las soluciones blockchain desplegadas en ISBE.</p>
          <p>Está dirigido a empresas, startups, administraciones públicas y proveedores tecnológicos, y sirve tanto para ofrecer los servicios propios, como para encontrar soluciones blockchain de terceros.</p>
          <p>El catálogo da visibilidad y facilita la colaboración entre empresas, administraciones y desarrolladores.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- cards -->
  <div class="md:px-8 container mx-auto flex flex-col gap-8">
    <!-- card -->
    <div class="rounded-3xl bg-primary-50 p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">1</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8 w-full">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Aporta visibilidad a tus soluciones blockchain
            </h2>
            <p>Publicar soluciones en el catálogo otorga visibilidad a tus servicios blockchain en un entorno de confianza. De esta forma, dispones de un escaparate en el que encontrar a potenciales interesados, tanto para usar tu solución como para colaborar contigo.</p>
          </div>
          <div class="rounded-3xl flex items-center justify-center w-full aspect-video overflow-hidden bg-gray-25">
            <img class="max-w-[178px] w-full h-autoobject-cover" src="/assets/images/image-visibilidad.png" alt="Product image" />
          </div>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="rounded-3xl bg-green p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">2</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8 w-full">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Garantiza la confianza</h2>
            <p>ISBE verifica que todas las ofertas publicadas son fiables y libres de información engañosa o inactiva. Esto otorga confianza y reputación, no solo a las soluciones blockchain, sino a las compañías que las ofrecen.</p>
          </div>
          <picture class="rounded-3xl flex items-center justify-center w-full aspect-video overflow-hidden bg-gray-25">
            <img class="max-w-[178px] w-full h-auto object-cover" src="/assets/images/image-validacion.png" alt="Product image" />
          </picture>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="rounded-3xl bg-white p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">3</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Es un espacio de integración</h2>
            <p>El catálogo está diseñado para que sea fácil identificar oportunidades de colaboración entre organizaciones, fomentando la creación de cadenas de valor digital. Es el caso, por ejemplo, de servicios que consumen APIs de otros participantes.</p>
          </div>
          <picture class="rounded-3xl flex items-center justify-center w-full aspect-video overflow-hidden bg-gray-25">
            <img class="max-w-[178px] w-full h-auto object-cover" src="/assets/images/image-integracion.png" alt="Product image" />
          </picture>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="rounded-3xl bg-secondary-300 p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">4</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Impulsa la interoperabilidad y el crecimiento</h2>
            <p>Publicar en el catálogo fomenta la viralidad del ecosistema, lo que redunda en el beneficio de todos, aportando visibilidad y crecimiento a todos los participantes. 
              Las soluciones que dependen de otras desplegadas en ISBE contribuyen al crecimiento mutuo, y amplían las oportunidades de negocio.</p>
          </div>
          <picture class="rounded-3xl flex items-center justify-center w-full aspect-video overflow-hidden bg-gray-25">
            <img class="max-w-[178px] w-full h-auto object-cover" src="/assets/images/image-impulso.png" alt="Product image" />
          </picture>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="rounded-3xl bg-secondary-100 p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">5</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Es una herramienta de innovación</h2>
            <p>A través del Catálogo de Servicios, ISBE impulsa la innovación responsable, con una oferta visible y de calidad.
                Publicar en el catálogo supone participar de forma activa en este movimiento  
                y ser protagonista del mercado de soluciones blockchain.
            </p>
          </div>
          <picture class="rounded-3xl flex items-center justify-center w-full aspect-video overflow-hidden bg-gray-25">
            <img class="max-w-[178px] w-full h-auto object-cover" src="/assets/images/image-gobernanza.png" alt="Product image" />
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="px-8 md:px-0 py-8 md:py-16 max-w-5xl">

    <!-- title -->
    <h1 class="text-4xl md:text-7xl font-semibold font-heading my-8">Beneficios para empresas y usuarios</h1>
    <p class="text-base md:text-xl">Participar en el Catálogo de Servicios Comerciales de ISBE permite a las empresas:
    </p>
  </div>

  <!-- cards -->
  <ul class="grid md:grid-cols-3 gap-8 px-8 md:px-0 mb-8">
    <li class="flex flex-col justify-between items-start bg-white/50 backdrop-blur-sm rounded-3xl p-8">
      <img class="w-[125px] h-auto mb-14" src="/assets/logos/icon-visibilidad.svg" alt="Product image" />
      <p class="font-heading font-semibold text-2xl mb-3">Aumentar su visibilidad dentro del ecosistema blockchain nacional.
      </p>
    </li>
    <li class="flex flex-col justify-between items-start bg-white/50 backdrop-blur-sm rounded-3xl p-8">
      <img class="w-[125px] h-auto mb-14" src="/assets/logos/icon-confianza.svg" alt="Product image" />
      <p class="font-heading font-semibold text-2xl mb-3">Generar confianza ante clientes y socios.
      </p>
    </li>
    <li class="flex flex-col justify-between items-start bg-white/50 backdrop-blur-sm rounded-3xl p-8">
      <img class="w-[125px] h-auto mb-14" src="/assets/logos/icon-sinergias.svg" alt="Product image" />
      <p class="font-heading font-semibold text-2xl mb-3">Encontrar sinergias con otras soluciones desplegadas en ISBE.
      </p>
    </li>
    <li class="flex flex-col justify-between items-start bg-white/50 backdrop-blur-sm rounded-3xl p-8">
      <img class="w-[125px] h-auto mb-14" src="/assets/logos/icon-comercializacion.svg" alt="Product image" />
      <p class="font-heading font-semibold text-2xl mb-3">Acelerar la comercialización de servicios compatibles con los estándares europeos.
      </p>
    </li>
    <li class="flex flex-col justify-between items-start bg-white/50 backdrop-blur-sm rounded-3xl p-8">
      <img class="w-[125px] h-auto mb-14" src="/assets/logos/icon-desarollo.svg" alt="Product image" />
      <p class="font-heading font-semibold text-2xl mb-3">Contribuir activamente al desarrollo y sostenibilidad de la infraestructura ISBE.
      </p>
    </li>
  </ul>

  <!-- BANNER COMPONENT -->
  <section class="px-8 md:px-0 my-8">
    <div
      class="banner__background_gradient bg-cover rounded-3xl p-8 md:px-16 md:py-14 bg-white flex flex-col md:flex-row justify-between gap-8">
      <div class="flex flex-col gap-8">
        <h3 class="text-2xl md:text-3xl font-heading font-semibold max-w-sm">Conecta estos servicios con la
          infraestructura que los
          hace posibles
        </h3>
        <p class="max-w-md">Descubre cómo ISBE impulsa la adopción nacional de servicios blockchain con validez legal.
        </p>
        <button type="button" (click)="openWindow(isbeAbout)"
          class="w-fit flex items-center justify-start text-white bg-black font-medium rounded-full text-sm uppercase px-5 py-2.5 text-center  me-2 ">
          {{ 'ABOUT._visit_isbe' | translate }}
          <svg class="-rotate-45 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </button>
      </div>

      <picture class="rounded-3xl overflow-hidden max-w-md bg-gray-25">
        <img class="size-full object-cover" src="/assets/images/ISBE_fondo.webp" alt="Product image" />
      </picture>

    </div>
  </section>

  <div class="green-footer-gradient absolute bottom-0 left-0 w-full h-[800px] scale-150 bg-center -z-[1]"></div>


</div>
