<div class="relative w-full flex flex-col md:px-8 pb-8 overflow-hidden">

  <div class="px-8 md:px-0 py-8 md:py-16 max-w-5xl">
    <!-- breadcrumbs -->
    <button aria-label="Breadcrumb"
      class="flex items-center gap-2 text-xs text-white bg-primary-100 py-0.5 px-2 rounded-lg">
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_299_20420)">
          <path
            d="M0.000426107 6.02887L0.578403 6.60685L0.579784 6.60547L4.33491 10.3606L4.91219 9.7833L1.56656 6.43767L8.62105 6.43767L8.62105 5.62007L1.56518 5.62008L4.91081 2.27444L4.33284 1.69646L0.000426107 6.02887Z"
            fill="white" />
        </g>
        <defs>
          <clipPath id="clip0_299_20420">
            <rect width="8.52661" height="8.52661" fill="white"
              transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 12.0586 6.0293)" />
          </clipPath>
        </defs>
      </svg>
      Come back to the full catalogue of services
    </button>

    <!-- title -->
    <h1 class="text-4xl md:text-7xl font-semibold font-heading my-8">Catálogo de Servicios Comerciales de ISBE</h1>
    <p class="text-base md:text-xl">El punto de encuentro para las soluciones que operan sobre la Red ISBE.</p>
  </div>

  <div class="flex flex-col px-8 md:px-0 pb-8">
    <div class="flex relative ">
      <div class="absolute top-0 left-0 hidden md:flex flex-col gap-2 ">
        <span
          class="block border-black border-l-2 py-4 px-2  uppercase text-xxs font-semibold font-heading">Lorem</span>
        <span class="block border-black/50 border-l-2 p-2"></span>
        <span class="block border-black/50 border-l-2 p-2"></span>
      </div>

      <div class="flex justify-end container mx-auto md:px-16">
        <div class="md:w-2/3 flex flex-col gap-8">
          <h2 class="font-heading font-semibold text-2xl md:text-3xl">Este es el espacio en el que las empresas y
            entidades publican, descubren y conectan servicios y soluciones que utilizan
            la infraestructura blockchain de ISBE.</h2>
          <p>Actúa como un repositorio profesional de servicios que visibiliza la oferta tecnológica generada dentro del
            ecosistema
            ISBE, facilitando la colaboración entre empresas, administraciones y desarrolladores.</p>
          <p> Dirigido a empresas, startups,
            administraciones públicas y proveedores tecnológicos, el catálogo permite mostrar productos, servicios y
            soluciones que
            ya operan en la Red ISBE o que integran sus servicios mediante APIs, credenciales verificables u otros
            componentes
            interoperables.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- cards -->
  <div class="md:px-8 container mx-auto flex flex-col gap-8">
    <!-- card -->
    <div class="rounded-3xl bg-primary-50 p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">1</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8 w-full">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Visibilidad y posicionamiento en el ecosistema.
            </h2>
            <p>Las organizaciones pueden publicar sus soluciones y obtener presencia dentro de un entorno verificado.
              Cada
              servicio
              incluye información técnica y comercial que permite a otros actores identificar servicios interoperables o
              complementarios.</p>
          </div>
          <div class="relative rounded-3xl w-full aspect-video overflow-hidden bg-gray">
            <img class="absolute inset-0 size-full object-cover" src="/assets/images/default.png" alt="Product image" />
          </div>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="rounded-3xl bg-green p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">2</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8 w-full">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Validación y confianza
            </h2>
            <p>Antes de ser visibles públicamente, las ofertas pasan por un proceso de revisión coordinado por ISBE.
              Este flujo
              garantiza la adecuación de los contenidos, la correspondencia con los despliegues reales en la red y el
              cumplimiento de
              las políticas del ecosistema. El resultado es un catálogo fiable, libre de información engañosa o
              inactiva.</p>
          </div>
          <picture class="relative rounded-3xl w-full aspect-video overflow-hidden bg-gray">
            <img class="absolute inset-0 size-full object-cover" src="/assets/images/default.png" alt="Product image" />
          </picture>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="rounded-3xl bg-white p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">3</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Integración con la Red ISBE
            </h2>
            <p>El catálogo no es sólo un escaparate, cada servicio está vinculado con componentes desplegados o
              integrables en la Red
              ISBE. Esto permite identificar relaciones técnicas (por ejemplo, servicios que consumen APIs de otros) y
              construir
              nuevas cadenas de valor digital entre organizaciones.</p>
          </div>
          <picture class="rounded-3xl w-full aspect-video overflow-hidden bg-gray">
            <img class="size-full object-cover" src="/assets/images/default.png" alt="Product image" />
          </picture>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="rounded-3xl bg-secondary-300 p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">4</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Impulso a la interoperabilidad y al crecimiento
            </h2>
            <p>Publicar en el catálogo fomenta la “viralidad” del ecosistema. Las soluciones que dependen de otras
              desplegadas en ISBE
              contribuyen al crecimiento mutuo, ampliando las oportunidades de negocio y colaboración entre los
              participantes.</p>
          </div>
          <picture class="rounded-3xl w-full aspect-video overflow-hidden bg-gray">
            <img class="size-full object-cover" src="/assets/images/default.png" alt="Product image" />
          </picture>
        </div>
      </div>
    </div>
    <!-- card -->
    <div class="rounded-3xl bg-secondary-100 p-7">
      <div class="flex flex-col md:flex-row">

        <div class="w-full max-w-[33%] flex items-start justify-start">
          <span class="text-[210px] leading-none md:leading-[133px]">5</span>
        </div>

        <div class="flex flex-col md:flex-row gap-8">
          <div class="w-fit flex flex-col gap-8 md:gap-24 justify-between">
            <h2 class="font-heading font-semibold text-2xl md:text-3xl">Gobernanza y sostenibilidad
              del ecosistema
            </h2>
            <p>Las organizaciones pueden publicar sus soluciones y obtener presencia dentro de un entorno verificado.
              Cada
              servicio
              incluye información técnica y comercial que permite a otros actores identificar servicios interoperables o
              complementarios.</p>
          </div>
          <picture class="rounded-3xl w-full aspect-video overflow-hidden bg-gray">
            <img class="size-full object-cover" src="/assets/images/default.png" alt="Product image" />
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="px-8 md:px-0 py-8 md:py-16 max-w-5xl">

    <!-- title -->
    <h1 class="text-4xl md:text-7xl font-semibold font-heading my-8">Beneficio para las empresas y usuarios</h1>
    <p class="text-base md:text-xl">Participar en el Catálogo de Servicios Comerciales de ISBE permite a las empresas:
    </p>
  </div>

  <!-- cards -->
  <ul class="grid md:grid-cols-3 gap-8 px-8 md:px-0 mb-8">
    <li class="flex flex-col items-start bg-white/50 backdrop-blur-sm rounded-3xl p-8">
      <img class="w-[125px] h-auto mb-14" src="/assets/logos/icon_service.svg" alt="Product image" />
      <h2 class="font-heading font-semibold text-2xl md:text-3xl mb-3">Aumentar su visibilidad
      </h2>
      <p>Potencie la presencia de su organización participando activamente en una red reconocida a nivel nacional.</p>
    </li>
    <li class="flex flex-col items-start bg-white/50 backdrop-blur-sm rounded-3xl p-8">
      <img class="w-[125px] h-auto mb-14" src="/assets/logos/icon_service.svg" alt="Product image" />
      <h2 class="font-heading font-semibold text-2xl md:text-3xl mb-3">Generar confianza
      </h2>
      <p>Aumente la credibilidad de su organización mediante un proceso de validación transparente y respaldado.</p>
    </li>
    <li class="flex flex-col items-start bg-white/50 backdrop-blur-sm rounded-3xl p-8">
      <img class="w-[125px] h-auto mb-14" src="/assets/logos/icon_service.svg" alt="Product image" />
      <h2 class="font-heading font-semibold text-2xl md:text-3xl mb-3">Encontrar sinergias
      </h2>
      <p>Conecte y colabore con organizaciones que ya forman parte del ecosistema para impulsar la innovación conjunta.
      </p>
    </li>
  </ul>

  <!-- BANNER COMPONENT -->
  <section class="px-8 md:px-0 my-8">
    <div
      class="banner__background_gradient rounded-3xl p-8 md:px-16 md:py-14 bg-white flex flex-col md:flex-row justify-between gap-8">
      <div class="flex flex-col gap-8">
        <h3 class="text-2xl md:text-3xl font-heading font-semibold max-w-sm">Conecta estos servicios con la
          infraestructura que los
          hace posibles
        </h3>
        <p class="max-w-md">Descubre cómo ISBE impulsa la adopción nacional de servicios blockchain con validez legal.
        </p>
        <button type="button"
          class="w-fit flex items-center justify-start text-white bg-black font-medium rounded-full text-sm uppercase px-5 py-2.5 text-center  me-2 ">
          VISIT ISBE
          <svg class="-rotate-45 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </button>
      </div>

      <picture class="rounded-3xl overflow-hidden bg-gray">
        <img class="size-full object-cover" src="/assets/images/about-dome.png" alt="Product image" />
      </picture>

    </div>
  </section>

  <div class="green-footer-gradient absolute bottom-0 left-0 w-full h-[800px] scale-150 bg-center -z-[1]"></div>


</div>
