<!-- Offerings Gallery section -->
<h2 class="text-4xl mt-4 font-extrabold text-primary-100 text-center">{{ 'GALLERY._title' | translate }}</h2>
<div id="featuredOfferings" class="pt-8 pb-8 px-4 mx-auto w-full grid gap-2 grid-cols-1 place-items-center sm:grid-cols-2 xl:grid-cols-4 lg:pb-16">
  @for (prod of products; track prod.id; let index = $index) {
    <bae-off-card id="featuredOfferCard" [productOff]=prod [cardId]="index" class="w-full h-full"></bae-off-card>
  } @empty {
  }
</div>
@if (products.length === 0){
  <div class="py-8 flex justify-center w-full lg:py-16">
    <div class="flex items-center p-4 mb-4 text-sm text-primary-100 rounded-lg bg-purple-50" role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        {{ 'GALLERY._no_products' | translate }}
      </div>
    </div>
  </div>
}

