
<div class="overflow-x-auto">
  <table class="px-5 py-3 w-full text-sm text-left text-gray-500">
    <thead class="px-5 py-3 text-base text-primary-100 bg-gray-0">
    <tr>
      <th class="px-5 py-3">{{ 'FORMS.PRICE_PLAN_COMPONENT._name' | translate }}</th>
      <th class="px-5 py-3">{{ 'FORMS.PRICE_PLAN_COMPONENT._description' | translate }}</th>
      <th class="px-5 py-3">{{ 'FORMS.PRICE_PLAN_COMPONENT._price_type' | translate }}</th>
      <th class="px-5 py-3 text-center">{{ 'FORMS.PRICE_PLAN_COMPONENT._actions' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <!-- Mostrar los Price Components -->
      @for (component of priceComponents; track component.id) {
        <tr class="px-5 py-3 border-b hover:bg-gray-100 transition-colors">
          <td class="px-5 py-3">{{ component.name }}</td>
          <td class="px-5 py-3">{{ component.description }}</td>
          <td class="px-5 py-3">{{ getPriceTypeLabel(component.priceType) }}</td>
          <td class="px-5 py-3 text-center flex justify-center gap-3">
            <!-- Botón Editar -->
            <button type="button" (click)="editPriceComponent(component)" class="bg-gray-100 focus:ring-4 focus:outline-none font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center">
              <svg class="text-gray-50" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.91602 11.0827H3.65189L9.62318 5.11139L8.88731 4.37552L2.91602 10.3468V11.0827ZM2.56835 11.9577C2.41892 11.9577 2.2937 11.9071 2.19268 11.806C2.09157 11.705 2.04102 11.5798 2.04102 11.4303V10.4197C2.04102 10.2775 2.06833 10.1419 2.12297 10.013C2.17752 9.88408 2.25267 9.77174 2.34843 9.67597L9.73547 2.29229C9.82365 2.21218 9.92102 2.15029 10.0276 2.10664C10.1342 2.06289 10.246 2.04102 10.363 2.04102C10.48 2.04102 10.5932 2.06177 10.7028 2.10329C10.8125 2.1448 10.9095 2.21081 10.994 2.30133L11.7064 3.02262C11.7969 3.10711 11.8614 3.20433 11.8999 3.31429C11.9384 3.42424 11.9577 3.5342 11.9577 3.64416C11.9577 3.76151 11.9377 3.87346 11.8976 3.98002C11.8575 4.08667 11.7938 4.18409 11.7064 4.27227L4.32272 11.6503C4.22696 11.746 4.11462 11.8212 3.9857 11.8757C3.85679 11.9304 3.72121 11.9577 3.57897 11.9577H2.56835ZM9.24883 4.74987L8.88731 4.37552L9.62318 5.11139L9.24883 4.74987Z" fill="currentColor"/>
              </svg>
            </button>
            <!-- Botón Eliminar -->
            <button (click)="confirmDelete(component)" class="bg-red-300 text-red-700 transition font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center">
              <svg class="size-3.5" width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.583333 9.84929V1.39096H0V0.515958H2.625V0H6.125V0.515958H8.75V1.39096H8.16667V9.84929H0.583333ZM1.45833 8.97429H7.29167V1.39096H1.45833V8.97429ZM2.86067 7.80763H3.73552V2.55763H2.86067V7.80763ZM5.01448 7.80763H5.88933V2.55763H5.01448V7.80763Z" fill="currentColor"/>
              </svg>
            </button>
          </td>
        </tr>
      }
      @empty {
        <tr>
          <td colspan="4" class="px-5 py-3 text-center text-gray-500">
            <div class="flex justify-center items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50  " role="alert">
              <svg class="min-w-4 w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor"
                      d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40
                      480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3
                      0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32
                      32 0 1 0 -64 0 32 32 0 1 0 64 0z"/>
              </svg>
              <span class="font-medium">{{ 'FORMS.PRICE_PLANS._no_price_plans_components' | translate }}</span>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<!-- Modal de Confirmación de Eliminación -->
<div *ngIf="showDeleteModal" class="fixed inset-0 bg-black/90 flex items-center justify-center">
  <div class="bg-white p-4 rounded-lg">
    <h2 class="text-lg font-semibold text-gray-700 ">{{ 'FORMS.PRICE_PLAN_COMPONENT._delete_price_comp' | translate }}</h2>
    <p class="text-gray-500 ">{{ 'FORMS.PRICE_PLAN_COMPONENT._unable_undone' | translate }}</p>
    <div class="flex justify-end mt-4 space-x-3">
      <button (click)="showDeleteModal = false" class="px-4 py-2 bg-gray-300  rounded">{{ 'FORMS.PRICE_PLAN_COMPONENT._cancel' | translate }}</button>
      <button (click)="deletePriceComponent()" class="px-4 py-2 bg-red-500 text-white rounded">{{ 'FORMS.PRICE_PLAN_COMPONENT._delete' | translate }}</button>
    </div>
  </div>
</div>
