<footer class="w-full py-6 px-4 md:p-7 md:flex md:items-center md:justify-end" [ngClass]="isBeigeBackground ? 'bg-beige text-black' : 'bg-black text-white'">
  <div class="max-w-[1800px] mx-auto flex flex-col gap-6 md:gap-12 w-full">

    <!-- Pre Footer -->
    <div class="flex flex-wrap gap-8 pt-8 pb-5 md:pt-14 md:pb-10">
      @if(isBeigeBackground) {
        <img src="assets/logos/Europa.svg" class="w-auto h-8" alt="Logo" />
        <img src="assets/logos/Gobierno.svg" class="w-auto h-8" alt="Logo" />
        <img src="assets/logos/PRT.svg" class="w-auto h-8" alt="Logo" />
        <img src="assets/logos/Madrid.svg" class="w-auto h-8" alt="Logo" />
        <img src="assets/logos/Alastria.svg" class="w-auto h-8" alt="Logo" />
      } @else {
        <img src="assets/logos/partner_logo_white.svg" class="w-auto h-8" alt="Logo" />
        <img src="assets/logos/gobierno_white.svg" class="w-auto h-8" alt="Logo" />
        <img src="assets/logos/plan_white.svg" class="w-auto h-8" alt="Logo" />
        <img src="assets/logos/madrid_white.svg" class="w-auto h-8" alt="Logo" />
        <img src="assets/logos/alastria_white.svg" class="w-auto h-8" alt="Logo" />
      }
    </div>

    <hr class="h-px border-0" [ngClass]="isBeigeBackground ? 'bg-black' : 'bg-white'">

    <!-- Footer -->
    <div class="font-body flex flex-col md:flex-row justify-between gap-6">

      <div class="credits text-base leading-tight max-w-3xl">
        {{ 'FOOTER._credits_text' | translate }}
      </div>

      <div class="flex flex-col md:flex-row gap-10 md:gap-20 items-baseline">
        <!-- Footer Links -->
        <ul class="flex flex-col font-medium ">
          @if(checkLogged && !IS_ISBE){
            <li>
              <button (click)="feedback=!feedback;$event.stopPropagation();" type="button" class="mr-4 hover:underline md:mr-6">Feedback</button>
            </li>
          }
          <li>
            <a [href]="legalLinks.privacy" target="_blank" class="mr-4 underline md:mr-6">{{ 'FOOTER._privacy' | translate }}</a>
          </li>
          <li>
            <a [href]="legalLinks.cookies" target="_blank" class="mr-4 underline md:mr-6">{{ 'FOOTER._cookies' | translate }}</a>
          </li>
          <li>
            <a [href]="legalLinks.licensing" target="_blank" class="mr-4 underline md:mr-6">{{ 'FOOTER._licensing' | translate }}</a>
          </li>
          @if(!IS_ISBE){
            <li>
              <a (click)="goTo('/contact-us')" target="_blank" class="underline cursor-pointer">{{ 'FOOTER._contact' | translate }}</a>
            </li>
          }
        </ul>
        <span class="credits">©Alastria, 2025</span>
      </div>
    </div>
  </div>

</footer>
@if(feedback && !IS_ISBE){
  <feedback-modal
  rateMessage="How would you rate your overall experience with DOME?"
  writeMessage="How can we improve DOME?"
  type="experience"
  class="fixed inset-0 flex items-center justify-center z-40"></feedback-modal>
}
