<div class="relative">
  <div class="w-full flex flex-col px-8 pb-32">
    <div class="py-8 md:pt-16 md:pb-[90px]">
      <h1 class="text-4xl md:text-7xl font-semibold font-heading mb-8">{{ 'PUBLISH_SERVICE._title' | translate }}</h1>
      <p class="text-base md:text-xl">{{ 'PUBLISH_SERVICE._subtitle' | translate }}</p>
    </div>

    <div class="flex max-w-5xl">
      <div class="hidden md:flex flex-col gap-2.5 opacity-0">
        <span class="block border-black border-l-2 py-4 px-2 uppercase text-xxs font-semibold font-heading"></span>
        <span class="block border-black/50 border-l-2 p-2"></span>
        <span class="block border-black/50 border-l-2 p-2"></span>
      </div>

      <div class="flex flex-col">
        <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-8">{{ 'PUBLISH_SERVICE._how_to_title' | translate }}</h2>
        <p class="max-w-5xl">{{ 'PUBLISH_SERVICE._how_to_desc' | translate }}</p>

        <!-- Pasos -->
        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">1</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._1_title' | translate }}</h2>
            <p [innerHTML]="'PUBLISH_SERVICE.STEPS._1_desc' | translate"></p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">2</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._2_title' | translate }}</h2>
            <p [innerHTML]="'PUBLISH_SERVICE.STEPS._2_desc' | translate"></p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">3</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._3_title' | translate }}</h2>
            <p>{{ 'PUBLISH_SERVICE.STEPS._3_desc' | translate }}</p>
            <ul class="list-disc pl-8 py-2">
              <li>{{ 'PUBLISH_SERVICE.STEPS._3_items._1' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._3_items._2' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._3_items._3' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._3_items._4' | translate }}</li>
            </ul>
            <p>{{ 'PUBLISH_SERVICE.STEPS._3_footer' | translate }}</p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">4</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._4_title' | translate }}</h2>
            <p [innerHTML]="'PUBLISH_SERVICE.STEPS._4_desc' | translate"></p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 py-8 border-black border-b">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">5</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._5_title' | translate }}</h2>
            <p>{{ 'PUBLISH_SERVICE.STEPS._5_desc' | translate }}</p>
            <ul class="list-disc pl-8 py-2">
              <li>{{ 'PUBLISH_SERVICE.STEPS._5_items._1' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._5_items._2' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._5_items._3' | translate }}</li>
            </ul>
            <p>{{ 'PUBLISH_SERVICE.STEPS._5_footer' | translate }}</p>
          </div>
        </div>

        <div class="w-full pt-16 pb-8">
          <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE._benefits_title' | translate }}</h2>
          <p>{{ 'PUBLISH_SERVICE._benefits_desc' | translate }}</p>
          <ul class="list-disc pl-8 py-2">
            <li>{{ 'PUBLISH_SERVICE.BENEFITS._1' | translate }}</li>
            <li>{{ 'PUBLISH_SERVICE.BENEFITS._2' | translate }}</li>
            <li>{{ 'PUBLISH_SERVICE.BENEFITS._3' | translate }}</li>
            <li>{{ 'PUBLISH_SERVICE.BENEFITS._4' | translate }}</li>
          </ul>
        </div>

      </div>
    </div>



    <!-- BANNER COMPONENT -->
    <app-isbe-banner
      class="my-8 block"
      titleKey="PUBLISH_SERVICE._banner_title"
      descKey="PUBLISH_SERVICE._banner_desc">
    </app-isbe-banner>
  </div>
  <div class="green-footer-gradient absolute bottom-0 left-0 w-full h-[400px] bg-center -z-[1]"></div>
</div>
