<div class="relative">
  <div class="w-full flex flex-col px-8 pb-32">
    <div class="py-8 md:py-16">
      <h1 class="text-4xl md:text-7xl font-semibold font-heading mb-8">{{ 'PUBLISH_SERVICE._title' | translate }}</h1>
      <p class="text-base md:text-xl">{{ 'PUBLISH_SERVICE._subtitle' | translate }}</p>
    </div>

    <div class="flex max-w-5xl">
      <div class="hidden md:flex flex-col gap-2 pr-8 opacity-0">
        <span class="block border-black border-l-2 py-4 px-2 uppercase text-xxs font-semibold font-heading"></span>
        <span class="block border-black/50 border-l-2 p-2"></span>
        <span class="block border-black/50 border-l-2 p-2"></span>
      </div>

      <div class="flex flex-col">
        <h2 class="font-heading font-semibold text-2xl md:text-3xl mb-8">{{ 'PUBLISH_SERVICE._how_to_title' | translate }}</h2>
        <p class="max-w-xl">{{ 'PUBLISH_SERVICE._how_to_desc' | translate }}</p>

        <!-- Pasos -->
        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">1</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._1_title' | translate }}</h2>
            <p [innerHTML]="'PUBLISH_SERVICE.STEPS._1_desc' | translate"></p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">2</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._2_title' | translate }}</h2>
            <p [innerHTML]="'PUBLISH_SERVICE.STEPS._2_desc' | translate"></p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">3</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._3_title' | translate }}</h2>
            <p>{{ 'PUBLISH_SERVICE.STEPS._3_desc' | translate }}</p>
            <ul class="list-disc pl-8 py-2">
              <li>{{ 'PUBLISH_SERVICE.STEPS._3_items._1' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._3_items._2' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._3_items._3' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._3_items._4' | translate }}</li>
            </ul>
            <p>{{ 'PUBLISH_SERVICE.STEPS._3_footer' | translate }}</p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">4</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._4_title' | translate }}</h2>
            <p [innerHTML]="'PUBLISH_SERVICE.STEPS._4_desc' | translate"></p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 py-8 border-black border-b">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">5</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE.STEPS._5_title' | translate }}</h2>
            <p>{{ 'PUBLISH_SERVICE.STEPS._5_desc' | translate }}</p>
            <ul class="list-disc pl-8 py-2">
              <li>{{ 'PUBLISH_SERVICE.STEPS._5_items._1' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._5_items._2' | translate }}</li>
              <li>{{ 'PUBLISH_SERVICE.STEPS._5_items._3' | translate }}</li>
            </ul>
            <p>{{ 'PUBLISH_SERVICE.STEPS._5_footer' | translate }}</p>
          </div>
        </div>

        <div class="w-full py-8">
          <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">{{ 'PUBLISH_SERVICE._benefits_title' | translate }}</h2>
          <p>{{ 'PUBLISH_SERVICE._benefits_desc' | translate }}</p>
          <ul class="list-disc pl-8 py-2">
            <li>{{ 'PUBLISH_SERVICE.BENEFITS._1' | translate }}</li>
            <li>{{ 'PUBLISH_SERVICE.BENEFITS._2' | translate }}</li>
            <li>{{ 'PUBLISH_SERVICE.BENEFITS._3' | translate }}</li>
            <li>{{ 'PUBLISH_SERVICE.BENEFITS._4' | translate }}</li>
          </ul>
        </div>

      </div>
    </div>

    

    <!-- BANNER COMPONENT -->
    <section class="my-8">
      <div
        class="banner__background_gradient bg-cover rounded-3xl p-8 md:px-16 md:py-14 bg-white flex flex-col md:flex-row justify-between gap-8">
        <div class="flex flex-col gap-8">
          <h3 class="text-2xl md:text-3xl font-heading font-semibold max-w-sm">{{ 'PUBLISH_SERVICE._banner_title' | translate }}</h3>
          <p class="max-w-md">{{ 'PUBLISH_SERVICE._banner_desc' | translate }}</p>
          <button type="button" (click)="openWindow(isbeAbout)"
            class="w-fit flex gap-2 items-center justify-start text-white bg-black font-medium rounded-full text-sm uppercase px-5 py-2.5 text-center me-2">
            {{ 'ABOUT._visit_isbe' | translate }}
            <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.27536 5.3211L0.216483 9.37972C0.0786384 9.51773 0.00805503 9.6912 0.00473343 9.90013C0.0015779 10.1089 0.0721612 10.2855 0.216483 10.43C0.360971 10.5743 0.536018 10.6465 0.741623 10.6465C0.947228 10.6465 1.12227 10.5743 1.26676 10.43L5.74515 5.95161C5.83832 5.85828 5.90409 5.75988 5.94245 5.65641C5.98082 5.55294 6 5.44117 6 5.3211C6 5.20102 5.98082 5.08925 5.94245 4.98579C5.90409 4.88232 5.83832 4.78392 5.74515 4.69058L1.26676 0.212192C1.12875 0.0743467 0.955285 0.00376337 0.746358 0.000442635C0.537597 -0.00271311 0.360973 0.0678692 0.216485 0.212192C0.0721629 0.35668 1.76852e-06 0.531727 1.73257e-06 0.737332C1.69662e-06 0.942937 0.0721628 1.11798 0.216485 1.26247L4.27536 5.3211Z" fill="white"/>
            </svg>
          </button>
        </div>

        <picture class="rounded-3xl overflow-hidden bg-gray max-w-md">
          <img class="size-full object-cover" src="/assets/images/ISBE_fondo.webp" alt="" />
        </picture>

      </div>
    </section>
  </div>
  <div class="green-footer-gradient absolute bottom-0 left-0 w-full h-[400px] bg-center -z-[1]"></div>
</div>
