<div class="relative">
  <div class="w-full flex flex-col px-8 pb-32">
    <div class="py-8 md:py-16">
      <h1 class="text-4xl md:text-7xl font-semibold font-heading mb-8">Publica tu servicio</h1>
      <p class="text-base md:text-xl">Da visibilidad a tus soluciones en el ecosistema ISBE.</p>
    </div>

    <div class="flex max-w-5xl">
      <div class="hidden md:flex flex-col gap-2 pr-8">
        <span
          class="block border-black border-l-2 py-4 px-2  uppercase text-xxs font-semibold font-heading">Lorem</span>
        <span class="block border-black/50 border-l-2 p-2"></span>
        <span class="block border-black/50 border-l-2 p-2"></span>
      </div>

      <div class="flex flex-col">
        <h2 class="font-heading font-semibold text-2xl md:text-3xl mb-8">¿Cómo publicar tu servicio?</h2>
        <p class="max-w-xl">Publicar un servicio en el Catálogo Comercial de ISBE es un proceso sencillo, pensado
          para garantizar la confianza, trazabilidad y coherencia con la Red ISBE.</p>

        <!-- Pasos -->
        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">1</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">Regístrate como entidad</h2>
            <p>Accede al portal de ISBE y regístrate <b>como empresa o administración pública mediante</b> tu
              certificado
              digital
              de
              representante. Este método asegura la identidad de la organización y automatiza el proceso de alta en la
              plataforma.</p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">2</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">Accede a tu área privada</h2>
            <p>Una vez registrado, entra en tu área de usuario. Desde el menú “Mis servicios” podrás crear y gestionar
              tus
              ofertas,
              consultar su estado y editar la información publicada.</p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">3</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">Crea el borrador de tu oferta</h2>
            <p>Completa el formulario con la información comercial y técnica de tu servicio:</p>
            <ul class="list-disc pl-8 py-2">
              <li>Nombre y descripción del producto o solución.</li>
              <li>Categoría y tipo de servicio.</li>
              <li>Imagen o logotipo representativo.</li>
            </ul>
            <p>El sistema guardará esta información en estado de borrador, visible solo para tu organización.</p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 border-black border-b py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">4</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">Revisa y aprueba internamente</h2>
            <p>Antes de solicitar la publicación, otro miembro autorizado de tu organización debe revisar y aprobar el
              borrador,
              cambiando su estado a Activo. En este punto la oferta aún no es pública.</p>
          </div>
        </div>

        <div class="flex items-baseline gap-6 py-8">
          <div
            class="flex items-center justify-center w-[38px] h-auto aspect-square px-3 rounded-full border border-black">
            <span class="font-semibold text-xl">5</span>
          </div>
          <div class="flex flex-col">
            <h2 class="font-heading text-2xl md:text-3xl font-semibold mb-1">Validación por ISBE</h2>
            <p>El equipo de ISBE revisará el contenido para comprobar:</p>
            <ul class="list-disc pl-8 py-2">
              <li>La adecuación del texto, imágenes y datos a las políticas del proyecto.</li>
              <li>La coherencia entre la información comercial y los servicios realmente desplegados en la Red ISBE.
              </li>
              <li>La correcta referencia a otros servicios o APIs si aplica.</li>
            </ul>
            <p>Solo tras esta validación la oferta será publicada y visible en el Catálogo Comercial.</p>
          </div>
        </div>

      </div>
    </div>

    <!-- BANNER COMPONENT -->
    <section class="my-8">
      <div
        class="banner__background_gradient rounded-3xl p-8 md:px-16 md:py-14 bg-white flex flex-col md:flex-row justify-between gap-8">
        <div class="flex flex-col gap-8">
          <h3 class="text-2xl md:text-3xl font-heading font-semibold max-w-sm">Conecta estos servicios con la
            infraestructura que los
            hace posibles
          </h3>
          <p class="max-w-md">Descubre cómo ISBE impulsa la adopción nacional de servicios blockchain con validez legal.
          </p>
          <button type="button"
            class="w-fit flex items-center justify-start text-white bg-black font-medium rounded-full text-sm uppercase px-5 py-2.5 text-center  me-2 ">
            VISIT ISBE
            <svg class="-rotate-45 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </button>
        </div>

        <picture class="rounded-3xl overflow-hidden bg-gray">
          <img class="size-full object-cover" src="/assets/images/about-dome.png" alt="Product image" />
        </picture>

      </div>
    </section>
  </div>
  <div class="green-footer-gradient absolute bottom-0 left-0 w-full h-[400px] bg-center -z-[1]"></div>
</div>
